<div widget-invoices-summary>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.invoices_summary.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-dates-picker parent-widget="widget" class="part" from="(widget.metadata.hist_parameters.from || defaultFrom)" to="widget.metadata.hist_parameters.to" keep-today="widget.metadata.hist_parameters.keep_today" deferred="::datesPickerDeferred"/>
    <div setting-chart-filters parent-widget="widget" class="part" deferred="::chartFiltersDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.invoices_summary.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.invoices_summary.save</button>
    </div>
  </div>

  <div align="center" ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)" class="chart-container">
      <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
      <div class="legend">
        <span>{{widget.content.legend}}</span>
      </div>
    </div>
    <div ng-if="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" widget-width="::widget.width"/>
  </div>

</div>
