<div class="kpi" ng-class="{ 'static': kpi.static, 'triggered': (kpi.layout.triggered && !isEditing() && !kpi.isLoading) }">
  <div class="top-line" ng-class="{ 'triggered': kpi.layout.triggered }" ng-hide="kpi.isLoading"></div>
  <div class="kpi-content" ng-hide="kpi.isLoading">
    <!-- SHOW -->
    <div class="kpi-show row nomargin nopadding" ng-hide="isEditing()">
      <div class="col-xs-3 col-sm-3 kpi-icon" ng-class="{ 'triggered': kpi.layout.triggered }">
        <i class="fa {{kpi.layout.icon.value}} fa-2x"></i>
      </div>
      <div class="col-xs-9 col-sm-9 kpi-text" ng-class="{ 'triggered': kpi.layout.triggered }">
        <span class="caption">{{kpi.layout.text.caption}}</span>
        <span class="emphasis"><strong>{{kpi.layout.text.emphasis}}</strong></span>
      </div>
    </div>
    <!-- EDIT -->
    <div class="kpi-edit" ng-show="isEditing()">
      <div class="kpi-name">
        <h6>{{::kpi.name.toUpperCase()}}</h6>
        <span class="menu-gradient-line"></span>
      </div>
      <span class="param-name">Target:</span>
      <!-- TODO: refactor design to handle multiple targets and ranges -->
      <form name="kpi{{kpi.id}}SettingsForm">
        <div class="clearfix edit-limit align">
          <select class="pull-left select-limit-mode form-control input-sm" ng-model="kpi.limit.mode" ng-options="option.mode as option.label for option in possibleTargets" >
          </select>
          <div class="pull-right input-limit-value form-group has-feedback" ng-class="this['kpi'+kpi.id+'SettingsForm'].limitValue.$valid ? 'has-success' : 'has-error'">
            <input name="limitValue" type="text" class="form-control input-sm" ng-model="kpi.limit.value" placeholder="{{getKpiTargetValue()}}" required>
            <span class="form-control-feedback" aria-hidden="true">{{getKpiTargetUnit()}}</span>
            <div class="error-messages limit" ng-messages="this['kpi'+kpi.id+'SettingsForm'].limitValue.$error">
              <span ng-message="required">KPI target is required</span>
            </div>
          </div>
        </div>

        <div class="extra-params" ng-repeat="(param, paramValues) in kpi.possibleExtraParams track by $index">
          <span class="param-name">Select {{param | titleize}}:</span>
          <select class="form-control input-sm" ng-model="kpi.extra_params[param]" ng-options="value.id as value.label for value in paramValues">
          </select>
        </div>
      </form>

      <!-- Temporary placement of delete & alerts settings -->
      <div ng-show="editMode">
        <div class="kpi-alert kpi-close" ng-click="deleteKpi()">x</div>
        <alerts-config kpi="kpi"></alerts-config>
      </div>

    </div>
  </div>
  <div class="col-xs-2 kpi-data-loader loader" ng-show="kpi.isLoading">
    <i class="fa fa-spinner fa-pulse fa-3x"></i>
  </div>
</div>
