.analytics kpis-bar .kpi {

  text-align: center;
  min-height: 100px;
  white-space: normal;
  padding: 10px 3px;

  .kpi-title {
    .text-uppercase();
    font-size: 12px;
    font-weight: 600;
  }

  .kpi-value {
    display: block;
    font-size: 20px;
    font-weight: 700;
  }

  .kpi-alert {
    .text-uppercase();
    font-size: 11px;
    font-weight: 700;
    background-color: white;
    border: 1px solid @brand-danger;
    border-radius: 4px;
    color: @brand-danger;
    margin: 3px auto 0px auto;
    padding: 2px 5px;
    max-width: 100px;
  }
}

.analytics kpis-bar > .key-stats .kpi {
  min-height: 70px;
}