impac-kpi .kpi {
  max-width: 220px;
  min-height: @kpi-max-height;
  max-height: @kpi-max-height;
  background-color: @kpi-background-color;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid @kpi-background-color;
  .transition(border .2s ease-in);

  &.triggered {
    border-bottom: @kpi-triggered-border-bottom;
  }

  &:hover { cursor: default; }

  &.static {
    .kpi-value {
      display: block;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .top-line {
    width: 100%;
    position: relative;
    cursor: move;
    padding: 9px 9px 0px 12px;
    border-bottom: none;
    min-height: @kpi-top-line-height;
    box-shadow: @kpi-top-line-box-shadow;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 5px;
    background-color: @kpi-top-line-background-color;
    &.triggered { background-color: @kpi-top-line-triggered-background-color; }
    .transition(background .2s ease-in);
  }

  .kpi-content {
    max-height: @kpi-max-height - 5px;
    .scrollable();
  }

  .kpi-show {
    white-space: normal;
    padding: 10px;

    .kpi-text {
      & > span { display: block; }
      padding: 7px 0;
      color: @kpi-text-color;
      .transition(color .2s ease-in);
      &.triggered { color: @kpi-text-triggered-color; }

      .caption {
        font-size: 11px;
        padding-bottom: 2px;
      }
    }

    .kpi-icon {
      font-size: 16px;
      padding: 10px 0px;
      color: @kpi-icon-color;
      .transition(color .2s ease-in);
      &.triggered { color: @kpi-icon-triggered-color; }
    }
  }

  .kpi-edit {
    .param-name {
      .small();
    }

    .kpi-name {
      text-align: center;
      margin-bottom: 5px;
      h6 { margin-bottom: 2px; }
      span.menu-gradient-line {
        display:block;
        visibility: visible;
        border:none;
        height:1px;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 80, from(#000), to(#fff));
      }
    }

    .edit-limit {
      .input-limit-value, .select-limit-mode {
        margin-top: 0;
        width: 50%;

        .form-control-feedback {
          color: @impac-widget-text-color-medium;
          .small();
          line-height: 24px;

          &.target-label {
            // maestrano.com is applying an undesirable bootstrap override on .form-control-feedback. This ensures correction within kpis.
            top: 0px;
          }
        }
      }
    }

    .form-control.input-sm {
      margin-top: 0;
      height: 24px;
      line-height: 24px;
      background-color: white;
    }

    .form-group {
      margin-bottom: 0;
    }

    .btn.btn-xs {
      margin-top: 4px;
    }

    .error-messages {
      color: @brand-danger;
      font-size: 11px;
      margin-top: 2px;
      &.limit {
        position: relative;
        left: -52px;
      }
    }
  }

  // Alert & Delete absolute icons.
  // TODO: clarify design
  // ----------
  .kpi-alert {
    .text-uppercase();
    font-size: 11px;
    font-weight: 700;
    background-color: white;
    border: 1px solid @brand-danger;
    border-radius: 4px;
    color: @brand-danger;
    padding: 2px 5px;

    position: absolute;
    bottom: 15px;
    left: 15%;
    width: 70%;

    &.kpi-close {
      bottom: auto;
      right: 20px;
      top: 5px;
      border-radius: 10px;
      width: 21px;
      left: auto;
      height: 22px;
      padding-left: 6px;
      padding-top: 3px;
    }

    &:hover {
      color: darken(@brand-danger, 10%);
      border-color: darken(@brand-danger, 10%);
      cursor: pointer;
    }

    &.static {
      position: static;
      margin: 5px 20px;
    }
  }

  .alerts-config {
    position: absolute;
    bottom: auto;
    left: auto;
    right: 45px;
    top: 5px;
  }
  // ----------

  .kpi-data-loader {
    width: 100%;
    min-height: 95px;
  }
}

.analytics kpis-bar > .key-stats .kpi {
  min-height: 80px;
}
