.analytics .impac-kpi .kpi {
  position: relative;
  max-width: 220px;
  min-height: @kpi-max-height;
  max-height: @kpi-max-height;
  background-color: @kpi-background-color;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid @kpi-background-color;
  transition: all .2s ease-in;

  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  &.triggered, &.add:hover {
    border-bottom: @kpi-triggered-border-bottom;
  }

  &.add {
    .kpi-text {
      .emphasis { visibility: hidden; }
    }
  }

  &.add:hover {
    cursor: pointer;
    .top-line { background-color: @kpi-top-line-triggered-background-color; }
    .kpi-text {
      color: @kpi-text-triggered-color;
      .emphasis { visibility: visible; }
    }
    .kpi-icon {
      color: @kpi-icon-triggered-color;
      .fa-plus:before {
        content: "\f00c";
      }
    }
  }

  &.editing {
    min-height: @kpi-max-height + @kpi-editing-max-height;
  }

  &:hover { cursor: default; }

  &.static {
    .kpi-value {
      display: block;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .top-line {
    width: 100%;
    position: relative;
    cursor: move;
    padding: 9px 9px 0px 12px;
    border-bottom: none;
    min-height: @kpi-top-line-height;
    box-shadow: @kpi-top-line-box-shadow;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 5px;
    background-color: @kpi-top-line-background-color;
    &.triggered { background-color: @kpi-top-line-triggered-background-color; }
    transition: background .2s ease-in;
  }

  .kpi-content {
    max-height: @kpi-max-height - 5px;
    &.editing {
      min-height: @kpi-max-height + @kpi-editing-max-height - @kpi-content-editing-height-buffer;
      .scrollable();
    }
  }

  .kpi-show {
    white-space: normal;
    padding: 10px;
    // small fix for iphone 6 and smaller
    @media screen and (max-width: 380px) {
      padding: 10px 3px;
    }

    .emphasis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .real-value { color: #676767; }
    }

    .caption {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .kpi-text {
      & > span { display: block; }
      padding: 7px 0;
      color: @kpi-text-color;
      transition: color .2s ease-in;
      &.triggered { color: @kpi-text-triggered-color; }

      .caption {
        font-size: 11px;
        padding-bottom: 2px;
      }

      @media screen and (max-width: 465px) {
        .caption { font-size: 10px; }
        .emphasis { font-size: 11px; }
      }
    }

    .kpi-icon {
      font-size: 16px;
      padding: 10px 0;
      color: @kpi-icon-color;
      transition: color .2s ease-in;
      &.triggered { color: @kpi-icon-triggered-color; }
      @media screen and (max-width: 465px) {
        font-size: 12px;
        padding: 16px 0;
      }
    }
  }

  .kpi-edit {

    .impac-material(@kpi-settings-focus-color, @kpi-settings-error-color);

    a { color: white; }

    .kpi-name {
      text-align: center;
      margin-bottom: 5px;
      h6 {
        margin: 0 0 5px 0;
      }
    }

    .real-value {
      text-transform: uppercase;
      font-size: 10px;
      text-align: center;
    }

    .im-button.alert-caption {
      text-align: center;
      font-size: 11px;
      width: 81%;
      margin: 0 auto 5px auto;
      box-shadow: none;
      padding: 2px;
    }

    .kpi-target-watchable,
    .kpi-target-unit {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 11px;
    }

    .kpi-target-watchable {
      margin-bottom: 20px;
      color: lighten(@kpi-top-line-background-color, 5%);
    }

    .kpi-target-unit {
      position: absolute;
      top: 6px;
      right: 0;
      color: lighten(@kpi-top-line-background-color, 10%);
    }

    .param-name {
      .small();
    }

    .btn.btn-xs {
      margin-top: 4px;
    }
  }

  button.kpi-remove.im-fab.im-warn {
    position: absolute;
    top: -12px;
    right: -11px;
    width: 22px;
    height: 22px;
    font-size: 13px;
    background: @kpi-settings-remove-background;
    &:hover {
      background: @kpi-settings-remove-background-hover;
    }
  }

  .kpi-data-loader {
    width: 100%;
    min-height: 95px;
  }
}

.analytics kpis-bar > .key-stats .kpi {
  min-height: 80px;
}
