<div widget-accounts-payable-receivable>

  <div ng-show="widget.isEditMode" class="edit">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)">
      <div setting-hist-mode parent-widget="widget" deferred="::histModeDeferred" accounting-behaviour="bls" />

      <div ng-hide="widget.isHistoryMode">
        <div class="receivable">
          <h3>Accounts Receivable</h3>
          <div class="price positive2">
             {{getCurrentReceivable() | mnoCurrency : getCurrency() : false}}
          </div>
          <div class="currency">{{getCurrency()}}</div>
        </div>

        <div class="payable">
          <h3>Accounts Payable</h3>
          <div class="price negative2">
            {{getCurrentPayable() | mnoCurrency : getCurrency() : false}}
          </div>
          <div class="currency">{{getCurrency()}}</div>
        </div>
      </div>

      <div class="chart-container" ng-class="{'invisible': !widget.isHistoryMode}">
        <div impac-chart draw-trigger="drawTrigger.promise" deferred="chartDeferred"></div>
        <div class="legend">
          <span class="negative2">Payable</span> -
          <span class="positive2">Receivable</span>
        </div>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" widget-engine="::widget.category" />
  </div>

</div>
