<!-- Will be displayed only if specified in configuration and if first response has been processed (realtimeSyncing eq true) -->
<div class="dashboard-settings sync-apps" ng-show="connectors.length || realtimeSyncing">

  <span class="show-status" uib-popover-template="'connectors.tmpl.html'" popover-trigger="'mouseenter'" popover-placement="bottom" ng-click="triggerSyncAlertsModal()">
    <i class="fa fa-info" ng-click="triggerSyncAlertsModal()" />
    <span class="ng-hide" ng-show="isSyncing">
      Syncing...
    </span>
    <span ng-hide="isSyncing">
      Show sync status
    </span>
  </span>

  <div class="status-btn" ng-click="triggerSyncAlertsModal()" ng-show="hasError && !isSyncing">
    <i class="fa fa-exclamation-triangle"></i>
  </div>

  <div class="status-btn" ng-click="triggerSyncAlertsModal()" ng-show="!hasError && !isSyncing">
    <i class="fa fa-check"></i>
  </div>

  <button id="sync" class="btn btn-primary" ng-click="synchronize()" uib-tooltip="Sync data and refresh dashboard" ng-disabled="isSyncing">
    <i class="fa fa-refresh" ng-class="{ 'fa-spin': isSyncing }" />
  </button>

</div>

<!-- ui.bootstrap popover template -->
<script type="text/ng-template" id="connectors.tmpl.html">
  <div class="connector" ng-repeat="connector in connectors track by $index" ng-class="{ '{{connector.status.toLowerCase()}}': true, 'add-seperator': !$last }">
    <div class="badge">{{connector.status}}</div>
    <strong>{{connector.name}}</strong> -
    <span ng-switch="connector.status">
      <span ng-switch-when="SUCCESS">Synced at {{connector.formatted_date}}.</span>
      <span ng-switch-when="PENDING">Sync will run in a few minutes.</span>
      <span ng-switch-when="RUNNING">Syncing in progress...</span>
      <span ng-switch-when="ERROR">Sync failed. Please contact support.</span>
      <span ng-switch-when="DISCONNECTED">Please link your application.</span>
      <span ng-switch-when="UNKNOWN">Couldn't retrieve sync status.</span>
    </span>
    <!-- <span ng-if="connector.formatted_date"> - Synced at {{connector.formatted_date}}</span> -->
  </div>
  <div class="popover-footer" ng-class="{ 'remove-seperator': realtimeSyncing }">
    <p>All {{realtimeSyncing ? '' : 'other'}} applications are synced in real-time.</p>
  </div>
</script>

<!-- ui.bootstrap modal template -->
<script type="text/ng-template" id="alerts.tmpl.html">
  <div id="sync-apps-modal">
    <div class="modal-header">
      <h4 class="modal-title">Synchronization status</h4>
    </div>
    <div class="modal-list">
      <div class="modal-list-item" ng-class="{'{{connector.status.toLowerCase()}}': true, 'with-message': connector.message}" ng-repeat="connector in connectors track by $index" ng-click="expandListItemOnClick(connector)">
        <div class="badge">{{connector.status}}</div>
        <div class="text-left">
          <strong>{{connector.name}}</strong> -
          <span ng-switch="connector.status">
            <span ng-switch-when="SUCCESS">Synced at {{connector.formatted_date}}.</span>
            <span ng-switch-when="PENDING">Sync will run in a few minutes.</span>
            <span ng-switch-when="RUNNING">Syncing in progress...</span>
            <span ng-switch-when="ERROR">Sync failed. Please contact support.</span>
            <span ng-switch-when="DISCONNECTED">Please link your application.</span>
            <span ng-switch-when="UNKNOWN">Couldn't retrieve sync status.</span>
          </span>
        </div>
        <div class="message ng-hide" ng-show="connector.showMessage">
          <p>{{connector.message}}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
  </div>
</script>
