<div widget-sales-top-opportunities>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.sales_opportunities.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.sales_opportunities.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.sales_opportunities.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)">

      <div class="legend">
        {{'impac.widget.sales_opportunities.total_potential' | translate}} <b>{{widget.content.total_potential | mnoCurrency : widget.content.currency || "AUD"}}</b> - <b>{{widget.content.eligible_opportunities}}</b> {{'impac.widget.sales_opportunities.eligible_opportunities' | translate}}
      </div>

      <div class="opps-container">
        <div class="tile" ng-repeat="opp in widget.content.opportunities track by $index" ng-class="getOppClass($index)">
          <div class="colored-area">{{$index +1 }}</div>
          <div class="main-text">
            {{opp.name | titleize}}
            <br />
            <i style="font-size: 13px;">{{getOppDetails(opp)}}</i>
          </div>
        </div>
      </div>

    </div>

    <div ng-if="(isDataFound==false)" common-data-not-found endpoint="::widget.endpoint" width="::widget.width"/>
  </div>

</div>
