html, body {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #E6EDEE;
}

#workspace {
  height: 100%;
}

#workspace .workspace-header {
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Share Tech Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#workspace .workspace-header h1 {
  margin: 0;
  padding: 15px 40px;
}

#workspace .workspace-header button {
  position: absolute;
  right: 70px;
  bottom: 17px;
}

#workspace .workspace-login {
  font-family: 'Share Tech Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#workspace .workspace-dashboard {
  margin: 0 auto;
  width: 91%;
}

/* IMPAC OVERRIDES */
.analytics {
  margin: 0;
}
