<div widget-invoices-list>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-dates-picker parent-widget="widget" class="part" from="(widget.metadata.hist_parameters.from || defaultFrom)" to="(widget.metadata.hist_parameters.to || defaultTo)" keep-today="widget.metadata.hist_parameters.keep_today" deferred="::datesPickerDeferred"/>

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode" class="widget-lines-container">

    <div ng-show="(isDataFound==true)" setting-limit-entries parent-widget="widget" deferred="::limitEntriesDeferred" selected="limitEntriesSelected" max="widget.content.entities.length" entries-label="limitEntriesLabel" />


    <!-- LARGE WIDGET -->

    <!-- Header line -->
    <div ng-if="widget.width > 3" class="row widget-line header">
      <div class="col-sm-4">{{entityTypeCap}}</div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-xs-4">Paid</div>
          <div class="col-xs-4">Due</div>
          <div class="col-xs-4">Invoiced</div>
        </div>
      </div>
    </div>

    <!-- Content lines -->
    <div ng-if="widget.width > 3" class="row widget-line" ng-show="(isDataFound==true)" ng-repeat="entity in widget.content.entities | limitTo:limitEntriesSelected" tooltip-placement="top" tooltip-html-unsafe="{{getInvoices(entity)}}" tooltip-animation="false" tooltip-append-to-body="true" tooltip-class="impac-widgets-tooltip">
      <div class="col-sm-4"><b>{{entity.name}}</b></div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-xs-4"><i>{{entity.total_paid | mnoCurrency : entity.currency}}</i></div>
          <div class="col-xs-4"><i>{{entity.total_due | mnoCurrency : entity.currency}}</i></div>
          <div class="col-xs-4"><i>{{entity.total_invoiced | mnoCurrency : entity.currency}}</i></div>
        </div>
      </div>
      <div class="col-sm-1 text-right"><i class="fa fa-info-circle" /></div>
    </div>


    <!-- SMALL WIDGET -->

    <!-- Header line -->
    <div ng-if="widget.width <= 3" class="row widget-line header">
      <div class="col-xs-12" ng-show="orderBy == 'paid '">{{entityTypeCap}} - Total paid</div>
      <div class="col-xs-12" ng-show="orderBy == 'due '">{{entityTypeCap}} - Total due</div>
      <div class="col-xs-12" ng-hide="orderBy == 'paid ' || orderBy == 'due '">{{entityTypeCap}} - Total invoiced</div>
    </div>

    <!-- Content lines -->
    <div ng-if="widget.width <= 3" class="row widget-line" ng-show="(isDataFound==true)" ng-repeat="entity in widget.content.entities | limitTo:limitEntriesSelected" tooltip-placement="top" tooltip-html-unsafe="{{getInvoices(entity)}}" tooltip-animation="false" tooltip-append-to-body="true" tooltip-class="impac-widgets-tooltip">
      <div class="col-xs-12"><b>{{entity.name}}</b></div>
      <div class="col-xs-8" ng-show="orderBy == 'paid '"><i>{{entity.total_paid | mnoCurrency : entity.currency}}</i></div>
      <div class="col-xs-8" ng-show="orderBy == 'due '"><i>{{entity.total_due | mnoCurrency : entity.currency}}</i></div>
      <div class="col-xs-8" ng-hide="orderBy == 'paid ' || orderBy == 'due '"><i>{{entity.total_invoiced | mnoCurrency : entity.currency}}</i></div>
      <div class="col-xs-4 text-right"><i class="fa fa-info-circle" /></div>
    </div>


    <!-- Data not found line -->
    <div class="row widget-line" ng-show="(isDataFound==false)">
      <div class="col-xs-12">No {{orderBy}}invoice found for your {{entityType}}</div>
    </div>

  </div>

</div>
