<div widget-invoices-list>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.invoices_list.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.invoices_list.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.invoices_list.save</button>
    </div>
  </div>

  <table class="table widget-lines-container" ng-hide="widget.isEditMode">

    <!-- Header line -->
    <tr class="widget-line header">
      <td>{{entityTypeCap}}</td>
      <td translate>impac.widget.invoices_list.paid</td>
      <td translate>impac.widget.invoices_list.due</td>
      <td translate>impac.widget.invoices_list.invoiced</td>
    </tr>

    <div ng-show="widget.demoData" common-data-not-found />

    <!-- Content lines -->
    <tr class="widget-line" ng-repeat="entity in widget.content.entities | orderBy:'name'">
      <td>{{entity.name}}</td>
      <td><i>{{entity.total_paid | mnoCurrency : entity.currency}}</i></td>
      <td><i>{{entity.total_due | mnoCurrency : entity.currency}}</i></td>
      <td><i>{{entity.total_invoiced | mnoCurrency : entity.currency}}</i></td>
    </tr>

  </table>

</div>
