.analytics {
  .widgets-container {

    .placeHolderBox {
      margin: 12px;
      height: 267px;
      width: 300px;
      float: left;
      border: 2px dashed @lightblue;
      background: none;
    }

    .widget-item {
      padding: 12px;
    }
  }
}