<table id="table-layout">
  <thead>
    <tr>
      <th width="{{$ctrl.colWidth}}" ng-repeat="cell in $ctrl.table.headers.cells" ng-click="$ctrl.sort(cell, $index)">
        <span ng-bind="$ctrl.cellValue(cell)"></span>
        <i ng-show="$ctrl.sortedColumn == cell" class="fa" ng-class="$ctrl.ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="groupedTable in $ctrl.table.rows.grouped">
      <td class="nested-table" colspan="{{$ctrl.colSize}}" ng-include="'grouped-table.tmpl.html'"></td>
    </tr>
    <tr ng-repeat="row in $ctrl.table.rows.single" ng-click="$ctrl.rowOnClick(row, $event)" ng-class="{ 'selectable': $ctrl.onRowClick }">
      <td ng-repeat="cell in row.cells" ng-style="$ctrl.selectedTabStyles(row, $first)" ng-bind="$ctrl.cellValue(cell)"></td>
    </tr>
  </tbody>
</table>

<script type="text/ng-template" id="grouped-table.tmpl.html">
  <table>
    <thead>
      <tr ng-click="$ctrl.rowOnClick(groupedTable.headers, $event)" ng-class="{ 'selectable': $ctrl.onRowClick }">
        <th width="{{$ctrl.colWidth}}" ng-repeat="cell in groupedTable.headers.cells" ng-style="$ctrl.selectedTabStyles(groupedTable.headers, $first)" indent-table-row>
          <i class="fa" ng-if="$first" ng-class="$ctrl.isCollapsed(groupedTable.headers) ? 'fa-plus-square-o' : 'fa-minus-square-o'" ng-click="$ctrl.toggleCollapseOnClick(groupedTable.headers, $event)" />
          <strong ng-bind="$ctrl.cellValue(cell)"></strong>
        </th>
      </tr>
    </thead>
    <tbody uib-collapse="$ctrl.isCollapsed(groupedTable.headers)">
      <tr ng-repeat="groupedTable in groupedTable.rows.grouped">
        <td class="nested-table" colspan="{{$ctrl.colSize}}" ng-include="'grouped-table.tmpl.html'"></td>
      </tr>
      <tr ng-repeat="row in groupedTable.rows.single" ng-click="$ctrl.rowOnClick(row, $event)" ng-class="{ 'selectable': $ctrl.onRowClick }">
        <td ng-repeat="cell in row.cells" ng-style="$ctrl.selectedTabStyles(row, $first)" indent-table-row ng-bind="$ctrl.cellValue(cell)"></td>
      </tr>
    </tbody>
  </table>
</script>
