.analytics .widget-item .content.accounts-cash-balance {
  .tall-widget();

  .data-container {
    height: ~"calc(@{impac-big-widget-size} - 50px)";
    width: 100%;
  }

  .left-panel {
    width: 180px;
    display: inline-block;
    overflow: auto;
    max-height: 100%;
  }

  #cash-balance-legend {
    .header {
      .group-item {
        display: flex;
        align-items: center;
        min-height: 45px;
        margin: 3px;
        font-size: 13px;
        padding: 3px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: @impac-widget-menus-hover-background-color;
        }
        i {
          font-size: 19px;
          padding: 4px;
          margin-top: 1px
        }
        span { color: @impac-widget-text-color; }
      }
    }
  }

  .legend-item-icon {
    width: 16px;
    height: 16px;
  }

  .right-panel {
    width: ~"calc(100% - 180px)";
    float: right;

    // Highchart container
    .cash-balance-chart {
      height: ~"calc(@{impac-big-widget-size} - 50px)";
    }
  }

  .dates-picker {
    display: inline-block;
    float: right;
    font-size: 12px;
  }
}
