<div widget-sales-margin>

  <div ng-show="widget.isEditMode" class="edit">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)">
      <div setting-hist-mode parent-widget= "widget" deferred="::histModeDeferred" />

      <div ng-hide="widget.isHistoryMode" class="current">
        <div class="price">
           {{ getTotalMargin() | mnoCurrency : getCurrency()}}
        </div>
        <div class="legend">
          Total sold - Total purchased
          </br>
          {{getTimeSpan()}}
          </br>
          <div setting-param-selector parent-widget="widget" param="filter" options="filterOptions" selected="filter" no-reload on-select="widget.format()" deferred="::paramSelectorDeferred" />
        </div>
      </div>

      <div class="history chart-container" ng-class="{'invisible': !widget.isHistoryMode}">
        <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
        <div class="legend">Total sold - Total purchased</div>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" />
  </div>

</div>
