<div id="transactions-list">
  <div class="top">
    <div class="back">
      <label class="btn btn-sm btn-default" ng-click="$ctrl.onHide()" ng-hide="$ctrl.listOnly">
        <i class="fa fa-chevron-left" />
        Back to chart
      </label>
      <input type="text" class="form-control search-bar" placeholder="Search..." ng-model="$ctrl.query" ng-change="$ctrl.changeQuery()">
    </div>
    <div class="resource-type">
      <div class="btn-group">
        <label class="btn btn-sm btn-default" ng-model="$ctrl.resourcesType" ng-click="$ctrl.changeResourcesType()" uib-btn-radio="'invoices'">See money in</label>
        <label class="btn btn-sm btn-default" ng-model="$ctrl.resourcesType" ng-click="$ctrl.changeResourcesType()" uib-btn-radio="'bills'">See money out</label>
      </div>
      <div class="btn-group" ng-if="!$ctrl.hideOverdueFilter">
        <label class="btn btn-sm btn-default" ng-model="$ctrl.overdueFilter" ng-click="$ctrl.changeOverdueFilter()" uib-btn-radio="'all'">Show all</label>
        <label class="btn btn-sm btn-default" ng-model="$ctrl.overdueFilter" ng-click="$ctrl.changeOverdueFilter()" uib-btn-radio="'overdue'">Show overdue</label>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>{{ $ctrl.currentAttributes.resourcesType == 'invoices' ? 'Customer' : 'Supplier' }}</th>
        <th>Code</th>
        <th>Description</th>
        <th>Status</th>
        <th>Transaction date</th>
        <th>Due date</th>
        <th ng-hide="$ctrl.listOnly">Expected payment date</th>
        <th class="text-right">Amount</th>
        <th class="text-right">Balance</th>
        <th ng-hide="$ctrl.listOnly" />
      </tr>
      <tr ng-repeat="trx in $ctrl.currentAttributes.transactions">
        <td>{{ trx.contact_name }}</td>
        <td>{{ trx.transaction_number }}</td>
        <td>{{ trx.title }}</td>
        <td>{{ trx.status }}</td>
        <td>{{ trx.trxDateUTC }}</td>
        <td>{{ trx.dueDateUTC }}</td>
        <td ng-hide="$ctrl.listOnly">
          <div class="expected-payment-date">
            <input type="text" class="btn btn-xs btn-default" uib-datepicker-popup="dd MMM yyyy" ng-model="trx.datePicker.date" ng-click="trx.datePicker.toggle()" is-open="trx.datePicker.opened" close-text="Close" on-open-focus="false" ng-change="$ctrl.changeExpectedDate(trx)"/>
            <button class="btn btn-xs btn-danger reset-date" ng-if="trx.showReset" title="Reset expected payment date to due date" ng-click="$ctrl.resetExpectedDate(trx)">
              <i class="fa fa-clock-o" />
            </button>
          </div>
        </td>
        <td class="text-right">{{ trx.amount | mnoCurrency : trx.currency }}</td>
        <td class="text-right">{{ trx.balance | mnoCurrency : trx.currency }}</td>
        <td class="actions" ng-hide="$ctrl.listOnly">
          <i class="fa fa-times" title="Delete forecast transaction" ng-if="trx.status == 'FORECAST'" ng-click="$ctrl.deleteTrxModal.show(trx)" />
          <i class="fa fa-calendar-plus-o"  title="Create schedulable transactions" ng-if="$ctrl.canCreateSchedulableTransaction(trx)" ng-click="$ctrl.createSchedule.show({ resourcesType: $ctrl.resourcesType, trx: trx })" />
          <i class="fa fa-calendar-minus-o" title="Delete schedulable transactions" ng-if="$ctrl.canDeleteSchedulableTransaction(trx)" ng-click="$ctrl.deleteScheduleModal.show({ resourcesType: $ctrl.resourcesType, trx: trx })" />
        </td>
      </tr>
      <tr class="total" ng-class="$ctrl.currentAttributes.resourcesType">
        <td colspan="{{$ctrl.listOnly ? '6' : '7'}}">TOTAL</td>
        <td class="text-right">{{ $ctrl.totalAmount | mnoCurrency : $ctrl.currency }}</td>
        <td class="text-right">{{ $ctrl.totalBalance | mnoCurrency : $ctrl.currency }}</td>
        <td ng-hide="$ctrl.listOnly"></td>
      </tr>
    </table>
  </div>

  <!-- Confirm Delete Schedule -->
  <widgets-common-confirm-modal opened="$ctrl.deleteScheduleModal.display" on-dismiss="$ctrl.deleteScheduleModal.cancel()" on-action="$ctrl.deleteScheduleModal.delete()">
    <title-section>
      <span translate>impac.widget.common.confirm-modal.delete_schedule.title</span>
    </title-section>
    <body-section>
      <p translate>impac.widget.common.confirm-modal.delete_schedule.message</p>
      <p translate>impac.widget.common.confirm-modal.delete_schedule.explanation</p>
    </body-section>
  </widgets-common-confirm-modal>

  <!-- Confirm Delete Trx -->
  <widgets-common-confirm-modal opened="$ctrl.deleteTrxModal.display" on-dismiss="$ctrl.deleteTrxModal.hide()" on-action="$ctrl.deleteTrxModal.delete()">
    <title-section>
      <span translate>impac.widget.common.confirm-modal.delete_trx.title</span>
    </title-section>
    <body-section>
      <p ng-bind="$ctrl.deleteTrxModal.message()"></p>
    </body-section>
  </widgets-common-confirm-modal>

  <transactions-add
    ng-if="$ctrl.createSchedule.display"
    contacts="$ctrl.contacts"
    trx="$ctrl.createSchedule.trx"
    resources-type="$ctrl.resourcesType"
    on-hide="$ctrl.createSchedule.hide()"
    on-create-transaction="$ctrl.createSchedule.create($ctrl.resourcesType)" />

  <div class="bottom">
    <div>
      <ul uib-pagination
        ng-show="$ctrl.showPaginationControl()"
        class="pagination-sm"
        total-items="$ctrl.totalRecords"
        ng-model="$ctrl.currentPage"
        max-size="5"
        items-per-page="30"
        force-ellipses="true"
        ng-change="$ctrl.changePage()"
      />
    </div>
  </div>
</div>
