<div id="transactions-list">
  <div class="top">
    <ul uib-pagination class="pull-right" total-items="$ctrl.totalRecords" ng-model="$ctrl.currentPage" max-size="5" items-per-page="30" class="pagination-sm" force-ellipses="true" ng-change="$ctrl.onPageChanged({page: $ctrl.currentPage})"></ul>
    <a ng-click="$ctrl.onHide()" class="back-link">
      <i class="fa fa-chevron-left"></i>
      Back to chart
    </a>
  </div>
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Status</th>
        <th>Transaction date</th>
        <th>Due date</th>
        <th>Expected payment date</th>
        <th class="text-right">Amount</th>
        <th class="text-right">Balance</th>
        <th>Rate</th>
      </tr>
      <tr ng-repeat="trx in $ctrl.transactions">
        <td>{{ trx.transaction_number }}</td>
        <td>{{ trx.title }}</td>
        <td>{{ trx.status }}</td>
        <td>{{ trx.trxDateUTC }}</td>
        <td>{{ trx.dueDateUTC }}</td>
        <td>
          <input type="text" class="btn btn-xs btn-default" uib-datepicker-popup="dd MMM yyyy" ng-model="trx.datePicker.date" ng-click="trx.datePicker.toggle()" is-open="trx.datePicker.opened" close-text="Close" on-open-focus="false" ng-change="$ctrl.onUpdateExpectedDate({trxId: trx.id, date: trx.datePicker.date})" />
        </td>
        <td class="text-right">{{ trx.amount | mnoCurrency : trx.currency }}</td>
        <td class="text-right">{{ trx.balance | mnoCurrency : trx.currency }}</td>
        <td>{{ trx.currency_rate }}</td>
      </tr>
      <tr class="info total">
        <td colspan="6">TOTAL DUE</td>
        <td class="text-right">{{ $ctrl.totalDue | mnoCurrency : $ctrl.currency }}</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
