<div id="transactions-list">
  <div class="row top">
    <div class="col-xs-4 pull-left">
      <label class="btn btn-sm btn-default" ng-click="$ctrl.onHide()" ng-hide="$ctrl.listOnly">
        <i class="fa fa-chevron-left" />
        Back to chart
      </label>
    </div>
    <div class="col-xs-4 text-center">
      <div class="btn-group">
        <label class="btn btn-sm btn-default" ng-model="$ctrl.resourcesType" ng-click="$ctrl.changeResourcesType()" uib-btn-radio="'invoices'">See money in</label>
        <label class="btn btn-sm btn-default" ng-model="$ctrl.resourcesType" ng-click="$ctrl.changeResourcesType()" uib-btn-radio="'bills'">See money out</label>
      </div>
    </div>
    <div class="col-xs-4">
      <ul uib-pagination class="pull-right" total-items="$ctrl.totalRecords" ng-model="$ctrl.currentPage" max-size="5" items-per-page="30" class="pagination-sm" force-ellipses="true" ng-change="$ctrl.changePage()"/>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>{{ $ctrl.currentAttributes.resourcesType == 'invoices' ? 'Customer' : 'Supplier' }}</th>
        <th>Code</th>
        <th>{{ $ctrl.currentAttributes.resourcesType == 'invoices' ? 'Title' : '' }}</th>
        <th>Status</th>
        <th>Transaction date</th>
        <th>Due date</th>
        <th ng-hide="$ctrl.listOnly">Expected payment date</th>
        <th class="text-right">Amount</th>
        <th class="text-right">Balance</th>
        <th />
      </tr>
      <tr ng-repeat="trx in $ctrl.currentAttributes.transactions">
        <td>{{ trx.contact_name }}</td>
        <td>{{ trx.transaction_number }}</td>
        <td>{{ trx.title }}</td>
        <td>{{ trx.status }}</td>
        <td>{{ trx.trxDateUTC }}</td>
        <td>{{ trx.dueDateUTC }}</td>
        <td ng-hide="$ctrl.listOnly">
          <input type="text" class="btn btn-xs btn-default" uib-datepicker-popup="dd MMM yyyy" ng-model="trx.datePicker.date" ng-click="trx.datePicker.toggle()" is-open="trx.datePicker.opened" close-text="Close" on-open-focus="false" ng-change="$ctrl.changeExpectedDate(trx)"/>
          <button class="btn btn-xs btn-danger reset-date" ng-if="trx.showReset" title="Reset expected payment date to due date" ng-click="$ctrl.resetExpectedDate(trx)">
            <i class="fa fa-clock-o" />
          </button>
        </td>
        <td class="text-right">{{ trx.amount | mnoCurrency : trx.currency }}</td>
        <td class="text-right">{{ trx.balance | mnoCurrency : trx.currency }}</td>
        <td>
          <i class="fa fa-times" title="Delete forecast transaction" ng-if="trx.status == 'FORECAST'" ng-click="$ctrl.onDeleteTransaction({ resourcesType: $ctrl.resourcesType, trxId: trx.id })" />
        </td>
      </tr>
      <tr class="total" ng-class="$ctrl.currentAttributes.resourcesType">
        <td colspan="6">TOTAL</td>
        <!-- If Date Picker is open the colspan width will be 7.  If 'list-only' the width will be 6 -->
        <td ng-hide="$ctrl.listOnly" colspan="1"></td>
        <td class="text-right">{{ $ctrl.totalAmount | mnoCurrency : $ctrl.currentAttributes.currency }}</td>
        <td class="text-right">{{ $ctrl.totalBalance | mnoCurrency : $ctrl.currentAttributes.currency }}</td>
        <td />
      </tr>
    </table>
  </div>
</div>
