#transactions-list {
  .top {
    height: 40px;
    a.back-link { font-weight: normal; }
    .pagination { margin: 0px; }
  }

  .table-container {
    max-height: ~"calc(@{impac-big-widget-size} - 60px)";
    overflow: auto;
    tr.total { font-weight: bold; }
    input.btn.btn-xs { margin-top: -2px; }
  }
}
