<div widget-sales-break-even>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.sales_break_even.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.sales_break_even.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.sales_break_even.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div class="align-center">

      <div class="legend">{{'impac.widget.sales_break_even.from' | translate}} {{widget.content.period.from | momentDate : "sales/break_even"}} {{'impac.widget.sales_break_even.to' | translate}} {{widget.content.period.to | momentDate : "sales/break_even"}}</div>

      <div class="block to-date">
        <div class="title" translate>impac.widget.sales_break_even.title.sales</div>
        <div class="price">{{widget.content.sales.to_date | mnoCurrency : widget.content.currency : false}}</div>
        {{'impac.widget.sales_break_even.target' | translate}}: <span class="edit-target" style="float: right;" editable-text="threshold" buttons="no" onaftersave="updateSettings()">
          {{threshold | mnoCurrency : widget.content.currency : false}}
        </span>
      </div>

      <div ng-show="widget.content.break_even" class="block to-breakeven">
        <div class="title">impac.widget.sales_break_even.title.projection</div>
        <span ng-show="isTargetMet()" translate>impac.widget.sales_break_even.your_sales</span>
        <div class="price">{{getVariance() | mnoCurrency : widget.content.currency : false}}</div>
        <span ng-hide="isTargetMet()">
          {{'impac.widget.sales_break_even.projected_date' | translate}} <span style="float: right;">{{getProjectedDate() | date : 'd-MM-yy'}}</span>
          <br />
          {{'impac.widget.sales_break_even.opportunities_to_close' | translate}} <span style="float: right;">{{getOpportunitiesToClose()}}</span>
        </span>
      </div>
      <div ng-show="widget.content.break_even" class="legend">{{widget.content.break_even.eligible_opportunities}} {{'impac.widget.sales_break_even.eligible_opportunities' | translate}}</div>

      <div ng-hide="widget.content.break_even" class="block to-breakeven">
        <span class="edit-target" editable-text="threshold" buttons="no" onaftersave="updateSettings()">
          <div class="define-text">{{'impac.widget.sales_break_even.click_to_define' | translate}}</div>
        </span>
      </div>

    </div>

    <div ng-show="widget.demoData" common-data-not-found />
  </div>

</div>
