<div class="kpi-alerts-settings">

  <div class="modal-header" translate>
    impac.kpi.alerts.title
  </div>

  <div class="modal-body">
    <span translate="impac.kpi.alerts.explanation"
          translate-values="{name: kpi.name,  element_watched: kpi.element_watched}"></span>
    <u>{{translateTarget(kpi)}}</u> :

    <ul class="list-group">

      <li class="list-group-item" ng-repeat="alert in alerts" ng-class="{active: alert.active}" ng-click="toggleAlert(alert)">
        <i class="fa" ng-class="alert.active ? 'fa-toggle-on' : 'fa-toggle-off'" />
        {{alert.label}}
      </li>

    </ul>
  </div>

  <div class="modal-footer text-right">
    <button class="btn btn-default" ng-click="modal.close()" translate>impac.kpi.alerts.cancel</button>
    <button class="btn btn-primary" ng-click="save(alerts)" translate><strong>impac.kpi.alerts.save</strong></button>
  </div>

</div>
