<div class="kpi-alerts-settings">

  <div class="modal-header" translate>
    impac.kpi.alerts.title
  </div>

  <div class="modal-body">
    <span translate="impac.kpi.alerts.explanation"
          translate-values="{name: kpi.name,  element_watched: kpi.element_watched}"></span>
    <u>{{translateTarget(kpi)}}</u> :

    <ul class="list-group">

      <li class="list-group-item" ng-repeat="alert in alerts" ng-class="{active: alert.active}">
        <div class="alert-toggle" ng-click="toggleAlert(alert)">
          <i class="fa" ng-class="alert.active ? 'fa-toggle-on' : 'fa-toggle-off'" />
          {{alert.label}}
        </div>

        <ul class="list-group recipients-list" ng-show="showRecipientList(alert)">

          <li class="list-group-item" ng-repeat="member in members track by member.id" ng-if="member.active" ng-click="toggleRecipient(member)">
            {{member.email}}
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </li>

        </ul>

        <input class="recipient-search" placeholder="Add Recipients By Member Email" ng-show="showRecipientList(alert)" ng-model="recipientSearch.text" ng-keydown="onAddRecipientsKeyPress($event)" ng-focus="onRecipientSearchFocus()"/>

        <ul class="list-group recipients-list available" ng-show="showAvailableRecipients(alert)">

          <li class="list-group-item" ng-class="member == selectedMember ? 'active' : ''" ng-repeat="member in members | filter:recipientSearch.text as filteredMembers" ng-if="!member.active" ng-click="toggleRecipient(member)">
            {{member.email}}
          </li>

        </ul>
      </li>

    </ul>

  </div>

  <div class="modal-footer text-right">
    <button class="btn btn-default" ng-click="modal.close()" translate>impac.kpi.alerts.cancel</button>
    <button class="btn btn-primary" ng-click="save(alerts)" translate><strong>impac.kpi.alerts.save</strong></button>
  </div>

</div>
