<span class="settings dates-picker">
  <h5 ng-if="showTitle()">Time range</h5>

  <span class="buttons">
    <button class="btn btn-sm btn-default" ng-click="calendarFrom.toggle()" datepicker-popup ng-model="calendarFrom.value" is-open="calendarFrom.opened" ng-change="showApplyButton()" max-date="calendarTo.value" >
      {{ calendarFrom.value | date : 'yyyy-MM-dd' }}
    </button>
    to 
    <button class="btn btn-sm btn-default" ng-click="calendarTo.toggle()" datepicker-popup ng-model="calendarTo.value" is-open="calendarTo.opened" ng-change="showApplyButton()" min-date="calendarFrom.value" on-open-focus="false" >
      {{ calendarTo.value | date : 'yyyy-MM-dd' }}
    </button>
    <button class="btn btn-sm btn-success" tooltip="Apply changes" ng-show="changed && !parentWidget.isEditMode" ng-click="applyChanges()" >
      <i class="fa fa-check" />
    </button>
  </span>
</span>
