.analytics .settings.dates-picker {
  h5 { display: none; }

  button.btn.btn-sm {
    line-height: 1;
    &.date-button { margin: 0px 5px; }
    &.btn-danger { display: none; }
    &.btn-info { border-radius: 3px; }
  }

  .tooltip-inner { text-transform: none; }

  .dropdown-menu > li > div > table { outline: none; }
}
