<div class="info-panel text-center" ng-class="{displayed: !hideInfoPanel}" ng-if="isEnabled()">
  <div class="i-label text-left" ng-show="hideInfoPanel">
    <i class="fa fa-info-circle" ng-click="toggleInfoPanel()" />
  </div>

  <div class="i-content text-left" ng-hide="hideInfoPanel">
    <div class="i-header text-center">
      <i class="fa fa-info-circle" />
      <i class="fa fa-times-circle" ng-click="toggleInfoPanel()" />
      Information on widget "<b>{{ getWidgetTemplateName() | titleize }}</b>"
    </div>

    <div class="i-text">
      <div class="row text-left" ng-repeat="i in parentWidget.content.info">
        
        <div class="col-md-3 key">
          {{i.key}}
        </div>
        
        <div class="col-md-9 value">
          {{i.value}}
        </div>
      
      </div>
    </div>
  </div>
</div>
