<div class="row">
  <div class="col-md-3 menu" ng-hide="menu.loading">
    <div class="heading">
      Impac!&trade; widgets catalogue
    </div>
    <accordion close-others="true">
      <accordion-group ng-repeat="category in menu.categories" is-open="selected">
        <accordion-heading ng-click="selected = !selected">
          <div class="category" ng-class="selected ? 'selected' : null">
            {{category.name}}
            <i ng-show="selected" class="fa fa-caret-down" style="float: right" />
            <i ng-hide="selected" class="fa fa-caret-right" style="float: right" />
          </div>
        </accordion-heading>
        <div class="widget-name" ng-repeat="widget in category.widgets" ng-click="show.get(widget.id)" ng-class="widget.id == show.widget.id ? 'selected' : null">
          {{widget.name}}
          <i ng-show="widget.id == show.widget.id" class="fa fa-angle-double-right" style="float: right; margin-top: 3px;" />
        </div>
      </accordion-group>
    </accordion>
  </div>
  <div class="col-md-3" ng-show="menu.loading"><img class="gif" ng-src="{{loaderImage}}"/></div>

  <div class="col-md-9 content" ng-style="{'border-color' : show.color}">

    <div class="row header" ng-show="show.widget && !show.loading">
      <div class="col-xs-2 heading" ng-style="{'background-color' : show.color, 'border-color' : show.color}">
        {{show.widget.category}}
      </div>
      <div class="col-xs-1 triangle-topleft" ng-style="{'border-top-color' : show.color}"></div>
      <span class="red" ng-hide="show.widget.active">Inactive (displayed only to admins)</span>
    </div>

    <div class="row title center" ng-show="show.widget && !show.loading">
      <h2>{{show.widget.name}}</h2>
    </div>

    <div class="row fields-container" ng-show="show.widget && !show.loading">

      <div class="col-md-6">
        <div class="left-panel">
          <div class="heading" ng-style="{'background-color' : show.color}">
            Screenshot
          </div>
          <div class="field screenshot">
            <img ng-src="{{show.widget.screenshot}}">
          </div>
        </div>
      </div>

      <div class="col-md-6 right-panel">

        <div class="row">
          <div class="heading" ng-style="{'background-color' : show.color}">
            Description
          </div>
          <div class="field description">
            <p ng-bind-html="show.widget.full_description" />
          </div>
        </div>

        <div class="row">
          <div class="heading" ng-style="{'background-color' : show.color}">
            Settings
          </div>
          <div class="field settings">
            <div class="setting" ng-class="show.widget.settings.length <= 3 ? 'col-md-12' : 'col-md-6'" ng-repeat="setting in show.widget.settings">
              <i class="fa fa-cog" />
              {{setting}}
            </div>
          </div>
        </div>

        <div class="row" ng-style="{'border-color' : show.color}">
          <div class="heading" ng-style="{'background-color' : show.color}">
            Compatible with...
          </div>
          <div class="field apps">
            <div class="col-md-2 app" ng-repeat="app in show.widget.compatible_apps" style="padding: 0px;" >
              <img ng-src="{{app.logo.logo.url}}" class="app-logo" tooltip="{{app.name}}" tooltip-placement="bottom" />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row no-widget center" ng-hide="show.widget || show.loading">
      <h3>Please select a widget</h3>
    </div>

    <div class="row no-widget center" ng-show="show.loading || menu.loading">
      <img class="gif" ng-src="{{loaderImage}}"/>
    </div>

    <div class="spacer1"></div>

  </div>
</div>

<div class="spacer1" />

<div class="row">
  <a class="btn btn-primary" href="/impac_catalogue/" style="float: right;">
    Download PDF Catalogue
  </a>
</div>