  <div class="top-buttons">
  <div class="top-buttons-wrapper">

    <button class="btn top-button btn-info" ng-if="hasInfo()" ng-click="onToggleInfoPanel()">
      <i class="fa fa-info-circle"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.info</span>
    </button>

    <button class="btn top-button btn-export" ng-show="isCsvExportable()" ng-click="exportCSV()">
      <i class="fa fa-file-text-o"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.export_csv</span>
    </button>

    <button class="btn top-button btn-refresh" ng-click="onRefresh({refreshCache: true})">
      <i class="fa fa-refresh"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.refresh</span>
    </button>

    <button class="btn top-button btn-edit" ng-click="toggleEditMode()" ng-show="userAccesses.widgets.update" ng-class="{'edit-mode': parentWidget.isEditMode}">
      <i class="fa fa-cog fa-lg"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.edit</span>
    </button>

    <button class="btn top-button btn-close" ng-click="onToggleDeleteWidget()" ng-show="userAccesses.widgets.destroy">
      <i class="fa fa-times-circle-o fa-lg"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.delete</span>
    </button>
  </div>
</div>
