<div class="top-buttons">
  <div class="top-buttons-wrapper">

    <button class="btn top-button btn-info" ng-if="hasInfo()" ng-click="onToggleInfoPanel()">
      <i class="fa fa-info-circle"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.info</span>
    </button>

    <button class="btn top-button btn-refresh" ng-click="onRefresh({refreshCache: true})">
      <i class="fa fa-refresh"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.refresh</span>
    </button>

    <button class="btn top-button btn-edit" ng-click="toggleEditMode()" ng-show="parentWidget.hasEditAbility" ng-class="{'edit-mode': parentWidget.isEditMode}">
      <i class="fa fa-cog fa-lg"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.edit</span>
    </button>

    <button class="btn top-button btn-close" ng-click="toggleDeleteMode()" ng-show="parentWidget.hasDeleteAbility">
      <i class="fa fa-times-circle-o fa-lg"></i>
      <span class="text-hide" translate>impac.widget.common.top_buttons.info_popup.delete</span>
    </button>
  </div>

  <div class="confirm-delete-popover" ng-show="showConfirmDelete">
    <h4 translate>impac.widget.common.top_buttons.delete.title</h4>
    <p translate>impac.widget.common.top_buttons.delete.explanation</p>
    <div ng-hide="isDeletePopoverLoading">
      <button ng-click="toggleDeleteMode()" class="btn btn-sm btn-default" translate>impac.widget.common.top_buttons.delete.cancel</button>
      <button ng-click="deleteWidget()" class="btn btn-sm btn-danger" style="margin-left: 10px;" translate>impac.widget.common.top_buttons.delete.delete</button>
    </div>
    <div ng-show="isDeletePopoverLoading" class="loader" align="center">
      <div>
        <i class="fa fa-spinner fa-pulse fa-4x"></i>
      </div>
    </div>
  </div>
</div>
