.analytics .widget-item .top-line .top-buttons {
  text-align: right;
  margin-top: -1px;
  white-space: nowrap;
  padding-left: 10px;

  .top-buttons-wrapper {
    .top-button {
      background: transparent;
      border: none;
      color: @impac-widget-top-buttons-color;
      padding: 0;
      outline: none;
      width: 17px;

      &:active, &:focus { box-shadow: none; }

      &.btn-info {
        font-size: 17px;
        margin-top: 1px;
        &:hover { color: #FFC928; }
      }
      &.btn-refresh {
        font-size: 17px;
        margin-top: 1px;
        &:hover { color: @mblue; }
      }
      &.btn-edit {
        font-size: 13px;
        &:hover, &.edit-mode { color: darken(@mgreen,10%); }
      }
      &.btn-close {
        font-size: 13px;
        &:hover { color: @pink; }
      }
    }
  }

  .confirm-delete-popover {
    position: absolute;
    top: 90px;
    left: 7%;
    width: 86%;
    background-color: @impac-widget-popup-message-background-color;
    padding-bottom: 10px;
    border-radius: 4px;
    z-index: 50;
    text-align: center;
    cursor: default;
    box-shadow: 0px 0px 25px 0px;
    white-space: normal;
    font-size: 13px;
    color: @impac-widget-popup-message-text-color;

    .title {
      padding: 2px;
      background-color: @impac-widget-popup-title-background-color;
      color: @impac-widget-popup-title-text-color;
      margin: -1px -1px 10px -1px;
      text-transform: uppercase;
    }

    .loader i.fa.fa-spinner {
      font-size: 26px;
    }
  }

}
