<div widget-hr-timesheets>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)">

      <div setting-param-selector parent-widget="widget" param="employee_id" options="employeesOptions" selected="selectedEmployee" class="currency" deferred="::paramSelectorDeferred" />

      <div class="widget-lines-container">

        <!-- Tab header -->
        <div class="row widget-line header">
          <div class="col-sm-12">
            From {{widget.content.dates[0] | mnoDate : widget.metadata.hist_parameters.period}} to {{widget.content.dates[widget.content.dates.length - 1] | mnoDate : widget.metadata.hist_parameters.period}}
          </div>
        </div>

        <!-- Time worked activities -->
        <div class="row lines-group" >
          <div class="col-xs-12">
          
            <!-- Time worked -->
            <div class="row widget-line" >
              <div class="col-xs-1" ng-click="toggleCollapsed('total_time_worked')" style="cursor: pointer;">
                <i class="fa" ng-class="isCollapsed('total_time_worked') ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
              </div>
              <div class="col-xs-7">
                <strong>Total Time Worked</strong>
              </div>
              <div class="col-xs-4 text-right">
                <strong>{{getEmployeeTimeWorked()}} h</strong>
              </div>
            </div>
          
            <!-- Activities lines / TODO -->
            <div class="row" collapse="isCollapsed('total_time_worked')">
              <div class="col-xs-12">
                <div class="row widget-line">
                  <div class="col-xs-11 col-xs-offset-1">
                    <i>Activities detail not found</i>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>

        <!-- Time off activities -->
        <div class="row lines-group" >
          <div class="col-xs-12">
          
            <!-- Time off -->
            <div class="row widget-line" >
              <div class="col-xs-1" ng-click="toggleCollapsed('total_time_of')" style="cursor: pointer;">
                <i class="fa" ng-class="isCollapsed('total_time_of') ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
              </div>
              <div class="col-xs-7">
                <strong>Total Time Off</strong>
              </div>
              <div class="col-xs-4 text-right">
                <strong>{{getEmployeeTimeOff()}} h</strong>
              </div>
            </div>


            <!-- PTO and Vacation lines / TODO -->
            <div class="row" collapse="isCollapsed('total_time_of')">
              <div class="col-xs-12">
                <div class="row widget-line">
                  <div class="col-xs-7 col-xs-offset-1">PTO</div>
                  <div class="col-xs-4 text-right">0 h</div>
                </div>
                <div class="row widget-line">
                  <div class="col-xs-7 col-xs-offset-1">Vacation</div>
                  <div class="col-xs-4 text-right">0 h</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" />
  </div>

</div>
