<div widget-sales-leads-list>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" />

    <div align="right">
      <button class="btn btn-default" ng-click="widget.initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="widget.updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="isDataFound">

      <div class="widget-lines-container">
        <div class="row widget-line total" ng-repeat="lead in widget.content.leads" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-html-unsafe="{{getLeadDescription(lead)}}" tooltip-animation="false" tooltip-append-to-body="true" tooltip-class="impac-widgets-tooltip">
          <div class="row widget-line" >
            <div class="col-sm-7">
              {{lead.first_name | titleize}} {{lead.last_name | titleize}}
              <span ng-show="lead.organization">({{lead.organization}})</span>
            </div>
            <div class="col-sm-5 text-right"><strong>{{lead.lead_status | titleize}}</strong></div>
          </div>
        </div>
      </div>

    </div>

    <div ng-hide="isDataFound" common-data-not-found widget-engine="widget.category" />
  </div>

</div>