<div widget-accounts-assets-summary>

  <div ng-show="widget.isEditMode" class="edit">
    <h4 translate>impac.widget.acc_ass_smry.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.acc_ass_smry.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.acc_ass_smry.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)" class="chart-container">
      <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
      <div class="legend">
        <div class="title" ng-show="widget.metadata.organization_ids.length==1">{{widget.content.summary[0].company}} {{classification}}</div>
        <div class="title" ng-hide="widget.metadata.organization_ids.length==1">{{classification}} repartition</div>
        <span ng-repeat="valuePair in dataSource">
          <span ng-style="{ 'font-weight': 'bold', 'color': getAccountColor(valuePair) }">{{valuePair.label}}</span>: {{valuePair.total | mnoCurrency : getCurrency()}}
          <br />
        </span>
      </div>
    </div>

    <div ng-if="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" endpoint="::widget.endpoint" width="::widget.width"/>
  </div>

</div>
