<!-- Class wrapper: widget-item -->
<!-- TODO: rename (impac-widget) -->

<div class="top-line">
  <div common-top-buttons parent-widget="widget" />
  <div common-editable-title parent-widget="widget" />
</div>

<div ng-show="isTemplateLoaded()" class="content" ng-class="templateName">

  <div ng-show="widget.isLoading">
    <div class="loader" align="center">
      Your data is being retrieved...
      <img class="gif" ng-src="{{loaderImage}}"/>
    </div>
  </div>

  <div ng-hide="widget.isLoading" ng-include="widgetContentTemplate()" />

</div>

<div ng-hide="isTemplateLoaded()" class="content">
  <div class="loader" align="center">
    <img class="gif" ng-src="{{loaderImage}}"/>
  </div>
</div>
