<div class="top-line">
  <div common-editable-title parent-widget="widget" class="editable-title" on-toggle="toggleEditTitle()" />
  <div common-top-buttons parent-widget="widget" on-refresh="showWidget" ng-hide="isInfoPanelDisplayed() || isTitleEdited() || widget.pdfMode" on-toggle-info-panel="toggleInfoPanel()"/>
</div>

<div ng-if="widget.pdfMode" class="include-to-pdf hidden-print">
  <h6>CLICK TO INCLUDE IN PDF</h6>
</div>

<div class="content" ng-class="templateName">
  <div ng-show="widget.isLoading" class="loader" align="center">
    <div>
      <i class="fa fa-spinner fa-pulse fa-3x"></i>
      <p>Your data is being retrieved...</p>
    </div>
  </div>

  <div ng-if="widget.pdfMode" class="hidden-print">
    <!-- <h6>CLICK TO INCLUDE TO PDF</h6> -->
    <a class="widget-hover" ng-click="tick()">
      <i class="fa fa-check-circle fa-5x" aria-hidden="true" ng-show="widget.ticked"></i>
    </a>
  </div>

  <div ng-hide="widget.isLoading" ng-include="widgetContentTemplate()" />
</div>

<div common-info-panel parent-widget="widget" on-close="toggleInfoPanel()" ng-show="isInfoPanelDisplayed()" />
