<h5>Time period selection</h5>
<div class="settings time-period" ng-if="timePeriodSetting">

  <div class="row">
    <div class="col-xs-6">
      Period:
      <select ng-model="timePeriodSetting.period" ng-options="titleize(p) for p in periods" ng-change="updateSettings()" />
    </div>
    <div class="col-xs-6">
      Preset:
      <div setting-time-presets parent-widget="timePeriodSetting" deferred="::timePresetsDeferred" on-select="initUsedSetting(histParams)" selected="timePeriodSetting.selectedPreset" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div setting-time-slider class="sub-setting" ng-class="{used: isTimeSliderUsed(), unused: isDatesPickerUsed()}" parent-widget="timePeriodSetting" deferred="::timeSliderDeferred" time-range="timePeriodSetting.timeRange" on-use="useTimeSlider()" />
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <div setting-dates-picker class="sub-setting" ng-class="{used: isDatesPickerUsed(), unused: isTimeSliderUsed()}" parent-widget="timePeriodSetting" deferred="::datesPickerDeferred" min-date="getMinDate()" from="fromDate" to="toDate" keep-today="histParams.keep_today" on-use="useDatesPicker()" />
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <i>Note: Chart is limited to {{ maxNumberOfPeriods }} periods</i>
    </div>
  </div>
</div>
