<div class="modal-header">
  <div class="close" type="button" ng-click="instance.close()" >×</div>
  <h3 translate translate-values="{ name: dhbLabelName }">impac.dashboard_selector.delete.delete_dashboard</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-error" ng-show="errors">
        <button class="close" ng-click="errors=''">×</button>
        <ul>
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
      </div>
    </div>
  </div>

  <p translate translate-values="{ name: dhbLabelName }">impac.dashboard_selector.delete_widget.description</p>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-shaded" ng-click="instance.dismiss()" ng-hide="isLoading" ng-disabled="isLoading" translate>impac.dashboard_selector.delete.cancel</button>
      <button class="btn btn-danger" ng-click="proceed()" ng-disabled="isLoading">
        <i class="fa fa-spinner fa-pulse loader" ng-if="isLoading"></i>
        {{'impac.dashboard_selector.delete.delete' | translate}}
      </button>
    </div>
  </div>
</div>
