<div class="row buttons-bar-row buttons-bar no-gutters" ng-class="{'pdf-mode': pdfMode}">

  <div ng-show="pdfMode" class='col-md-6 col-md-offset-3 title-container text-center'>
    <h1 class="dashboard-title">
      {{currentDhb.full_name}}
    </h1>
    <p class="data-source-label">
      <small><b translate>impac.dashboard_selector.dropdown.source</b> {{organizationsNames()}}</small>
    </p>
  </div>

  <div class="col-md-6 dropdown-container" ng-hide="isLoading || pdfMode">
    <div ng-if="isThereADashboard()">
      <h4 class='dashboard-title'>
        <div style="display: inline-block;" ng-click="toggleShowDashboardsDropdown()">
          {{currentDhb.full_name}}
          <i class="fa fa-chevron-down" style="font-size: 18px;"></i>
        </div>
        <i ng-hide="showChangeDashboardNameBox" class="fa fa-pencil" uib-tooltip="{{'impac.dashboard_selector.dropdown.tooltip.change_name' | translate}}" tooltip-animation="false" tooltip-append-to-body="true" ng-click="toggleChangeDashboardNameBox(currentDhb)"></i>
      </h4>

      <div ng-show="showDashboardsDropdown" class='dashboard-select hidden-print'>
        <div ng-hide="dhb.id == currentDhb.id" class='option' ng-repeat="dhb in dashboardsList">
          <span class="name" ng-click="selectDashboard(dhb.id)">{{dhb.full_name}}</span>
          <i ng-hide="showChangeDashboardNameBox" class="fa fa-pencil" uib-tooltip="{{'impac.dashboard_selector.dropdown.tooltip.change_name' | translate}}" tooltip-animation="false" tooltip-append-to-body="true" ng-click="toggleChangeDashboardNameBox(dhb)"/>
        </div>

        <div class="option dashboard-create">
          <dashboard-create on-create-dashboard="createDashboard(dashboard)" />
        </div>
      </div>

      <div ng-if="showChangeDashboardNameBox" class="change-name">
        <p translate translate-values="{name: dhbLabelName}">impac.dashboard_selector.dropdown.change_dashboard_name</p>
        <input type="text" class="form-control" id="changeDhbNameInput" ng-model="dashboardToChange.name" ng-keyup="checkAndUpdateDashboardName($event)"/>
        <button class="btn btn-sm btn-default" ng-click="hideChangeDashboardNameBox()" translate>impac.dashboard_selector.dropdown.cancel</button>
        <button class="btn btn-sm btn-success" style="margin-left: 10px" ng-click="updateDashboardName()" translate>impac.dashboard_selector.dropdown.confirm</button>
      </div>

      <p class="data-source-label">
        <small><b translate>impac.dashboard_selector.dropdown.source</b> {{organizationsNames()}}</small>
      </p>
    </div>
  </div>

  <div class="col-md-6 loader-container" ng-show="isLoading">
    <i class="fa fa-spinner fa-pulse fa-4x loading-spinner"/>
  </div>

  <div class='actions-panel hidden-print' ng-class="{'col-md-3': pdfMode, 'col-md-6': !pdfMode}">
    <button ng-if='isAccessibilityEnabled' ng-click="toggleAccessibilityMode()" class='btn btn-info' ng-disabled="showWidgetSelector" ng-hide="pdfMode"><span class='fa fa-wheelchair'></span></button>

    <button ng-if="isAddWidgetEnabled && isThereADashboard()" ng-click="onDisplayWidgetSelector()" class='btn btn-warning' ng-disabled="isWidgetSelectorShown()" ng-hide="pdfMode"><span class='fa fa-plus'></span> {{'impac.dashboard_selector.dropdown.add_widget' | translate}}</button>

    <dashboard-create on-create-dashboard="createDashboard(dashboard)" />

    <div dashboard-settings-pdf-mode ng-if="isThereADashboard() && !isCurrentDashboardEmpty()" />

    <button ng-if="isDeleteDhbEnabled && isThereADashboard()" ng-click="deleteDashboardModal.open()" class='btn btn-danger hidden-xs' ng-show="isThereADashboard()" uib-tooltip="{{'impac.dashboard_selector.dropdown.tooltip.delete' | translate:{name: dhbLabelName} }}" ng-hide="pdfMode"><span class='fa fa-trash-o'></span> </button>
  </div>

</div>
