<div class="settings limit-entries">
  {{ (entriesLabel ? 'impac.widget.settings.limit_entries.top' : 'impac.widget.settings.limit_entries.display') | translate }}

  <span ng-repeat="option in options | filter:isOptionValid:option track by $index">
    {{ $index!=0 ? ' |' : '' }} 
    <a target='#' ng-click="selectOption(option)" class="option" ng-class="{badge: option==selected}">{{ option }}</a>
  </span>

  <span ng-if="max">
    | 
    <a target='#' ng-click="selectOption(max)" class="option" ng-class="{badge: (!selected || selected==max)}">{{ max }}</a>
  </span>

   {{entriesLabel || ('impac.widget.settings.limit_entries.entries' | translate)}}
</div>