.analytics .widget-item .content.accounts-expense-weight {
  .legend {
    text-align: left;
    max-height: 115px;

    .title {
      text-align: center;
    }
  }
  .chart-container {
    @media print { max-height: auto !important; }
    @media print { max-width: auto !important; }
  }
}
