<div widget-hr-leaves-balance>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred"/>

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)" >

      <div setting-param-selector parent-widget="widget" param="employee_id" options="employeesOptions" selected="selectedEmployee" class="employee-name" deferred="::paramSelectorDeferred" />

      <h3>{{getEmployee().leaves[0].name || 'Vacation leaves'}} balance</h3>
      <div class="balance">{{(getEmployee().leaves[0].units || 0) | mnoCurrency : (getEmployee().leaves[0].type_of_units || 'h')}}</div>

      <h3>{{getEmployee().leaves[1].name || 'Sick leaves'}} balance</h3>
      <div class="balance">{{(getEmployee().leaves[1].units || 0) | mnoCurrency : (getEmployee().leaves[1].type_of_units || 'h')}}</div>

    </div>

    <div ng-if="(isDataFound==false)" common-data-not-found endpoint="::widget.category" width="::widget.width"/>
  </div>

</div>
