.workspace-login .login-box-container {
  text-align: center;
  margin-top: 100px;
}

.workspace-login .login-box {
  width: 360px;
  margin: auto;
  padding: 10px 20px 20px 20px;
  border-radius: 3px;
}

.workspace-login .login-box-title {
  color: rgb(117, 129, 146);
  margin-bottom: 15px;
  text-transform: uppercase;
}
