<div class="kpis">
  <div class="title-actions">

    <button type="button" class="add-kpis im-fab im-primary" ng-click="toggleAvailableKpis()">
      <a href=""><i class="fa fa-plus"></i></a>
    </button>
    <button type="button" class="edit-kpis im-fab im-primary" ng-click="toggleEditMode()">
      <a href=""><i class="fa fa-cog"></i></a>
    </button>

    <div class="available-kpis-container" collapse="hideAvailableKpis">
      <div ng-repeat="kpi in availableKpis track by $index" class="available-kpi" ng-init="kpi.element_watched = kpi.watchables[0]">
        <span class="kpi-name">{{kpi.name}}</span>
        <button class="btn btn-sm btn-info" ng-click="addKpi(kpi)">+ Attach</button>
        <!-- <select class="form-control-static input-sm" ng-model="kpi.element_watched" ng-options="watchable for watchable in kpi.watchables"></select> -->
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="row">
        <div ui-sortable="sortableOptions" ng-model="kpis">
          <div ng-repeat="kpi in kpis track by kpi.id">
            <impac-kpi class="col-xs-6 col-sm-4 col-md-3" kpi="kpi" on-delete="removeKpi(kpi.id)" edit-mode="showEditMode" kpi-edit-settings="kpisEditSettings[kpi.id]" available-kpis="availableKpis" />
          </div>
        </div>
        <div ng-show="isAddingKPI" class="col-xs-6 col-sm-4 col-md-3 kpi-loader">
          <i class="fa fa-2x fa-spin fa-refresh"></i>
        </div>
      </div>
    </div>
  </div>
</div>
