.analytics kpis-bar > .kpis {
  position: relative;
  padding: 15px;
  min-height: @kpi-max-height + 30px;
  // overflow: hidden;
  background-color: @kpis-bar-background-color;
  box-shadow: @kpis-bar-box-shadow;

  @media screen and (min-width: 768px) {
    padding: 0 60px;
  }

  transition: margin .2s ease-in;
  @media screen and (max-width: 675px) {
    margin-top: 23px;
  }

  impac-kpi {
    .column-gutter(5px);

    @media screen and (min-width: 1200px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .available-kpis-container {
    text-align: left;
    position: absolute;
    z-index: 15;
    background-color: @impac-widget-background-color;
    width: 500px;
    max-height: 115px;
    box-shadow: 0px 3px 12px -4px;

    .scrollable();

    .available-kpi {
      border-bottom: solid 1px #D8DBDB;
      padding: 4px;
      padding-left: 8px;
      height: 38px;

      span.kpi-name {
        padding-top: 5px;
        display: inline-block;
      }

      .form-control-static, .btn.btn-sm.btn-info {
        float: right;
        min-height: 30px;
        height: 30px;
        float: right;
        margin-left: 3px;
        margin-top: 0px;
        font-weight: bold;
      }
    }
  }

  .title-actions {
    margin-bottom: 12px;
    @media screen and (max-width: 675px) {
      position: relative;
    }

    .impac-material(@kpi-settings-focus-color, @kpi-settings-error-color);

    a { color: white; }

    button.im-fab.add-kpis,
    button.im-fab.edit-kpis {
      position: absolute;
      transition: all 0.28s ease-in;
      &.im-primary {
        background: @purple;
        &:hover {
          background: darken(@purple, 10%);
        }
      }
    }

    button.im-fab.add-kpis {
      top: -14px;
      right: -10px;
      z-index: 10;
      @media screen and (max-width: 675px) {
        margin: auto;
        top: -30px;
        left: -60px;
        right: 0;
        bottom: 0;
      }
    }
    button.im-fab.edit-kpis {
      top: 38px;
      right: -10px;
      z-index: 10;
      @media screen and (max-width: 675px) {
        margin: auto;
        top: -30px;
        left: 60px;
        right: 0px;
        bottom: 0;
      }
    }
  }

  .kpi-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: @kpi-max-height + 20px;
  }
}

.analytics kpis-bar > .key-stats {
  background-color: white;
  // color: @light-black;
  padding: 5px 0px;
}
