<div class="kpis" ng-class="{'empty': (kpis.length == 0), 'hidden-print': (kpis.length == 0)}">

  <div class="actions">
    <button type="button" class="toggle-show-content im-fab im-primary" ng-click="toggleShowContent()">
      <a href=""><i class="fa" ng-class="{ 'fa-chevron-up': showContent, 'fa-chevron-down': !showContent }"></i></a>
    </button>
    <div class="content-buttons">
      <button type="button" class="add-kpis im-fab im-primary" ng-click="availableKpis.toggle()" ng-class="{ disabled: !hasKpiAvailability() }">
        <a href=""><i class="fa" ng-class="{'fa-plus': availableKpis.kpiSelectorHidden, 'fa-minus': !availableKpis.kpiSelectorHidden}"></i></a>
      </button>
      <button type="button" class="edit-kpis im-fab im-primary" ng-class="{ 'disabled': toggleEditModeLock, 'editing':isEditing() }" ng-click="toggleEditMode()" ng-if="kpis.length > 0">
        <a href=""><i class="fa" ng-class="{ 'fa-cog': !isEditing(), 'fa-floppy-o': isEditing() }"></i></a>
      </button>
    </div>
  </div>

  <div class="content">
    <div class="row title" ng-if="kpis.length == 0 && availableKpis.kpiSelectorHidden">
      <span class="badge" translate>impac.kpi_bar.new</span>
      <div class="col-xs-12 text-center">
        <a href="" class="show-dashboard" ng-click="availableKpis.toggle()" ng-show="hasKpiAvailability()" translate>impac.kpi_bar.you_can_now</a>
        <span class="no-kpi-templates" ng-hide="hasKpiAvailability()" translate>impac.kpi_bar.no_kpis</span>
      </div>
    </div>

    <div class="row add-bar" uib-collapse="availableKpis.kpiSelectorHidden">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div ng-repeat="kpi in availableKpis.list track by $index" class="impac-kpi col-xs-6 col-sm-4 col-md-3" ng-click="addKpi(kpi)">
            <div class="kpi add" ng-hide="(availableKpis.list.length == 0)">
              <div class="top-line ui-sortable-handle"></div>
              <div class="kpi-content">
                <div class="kpi-show row nomargin nopadding">
                  <div class="col-xs-3 col-sm-3 kpi-icon">
                    <i class="fa fa-2x fa-plus"></i>
                  </div>
                  <div class="col-xs-9 col-sm-9 kpi-text">
                    <span class="caption"><strong>{{kpi.name}}</strong></span>
                    <span class="emphasis" translate>impac.kpi_bar.add_to_dashboard</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div ui-sortable="sortableOptions" ng-model="kpis">
            <div ng-repeat="kpi in kpis" impac-kpi class="impac-kpi col-xs-6 col-sm-4 col-md-3" kpi="kpi" on-delete="removeKpi(kpi.id)" edit-mode="showEditMode" available-kpis="availableKpis.list" load-ready="kpiDatesDeferred">
            </div>
          </div>
          <div ng-show="isAddingKpi" class="col-xs-6 col-sm-4 col-md-3 kpi-loader">
            <i class="fa fa-2x fa-spin fa-refresh"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="showDatesPicker()">
      <div class="dates-picker-container">
        <div setting-dates-picker from="kpisDateRange.from" to="kpisDateRange.to" keep-today="kpisDateRange.keepToday" on-change="kpisBarUpdateDates" deferred="datesPickerDeferred"/>
      </div>
    </div>
</div>

</div>
