<div widget-accounts-balance>

  <div ng-show="widget.isEditMode" class="edit">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-account parent-widget="widget" class="part" deferred="::accountBackDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)">
      <!-- Will be hidden once an account is selected -->
      <div setting-account ng-hide="widget.selectedAccount" parent-widget="widget" label='Select an account to monitor' on-account-selected="displayAccount()" deferred="::accountFrontDeferred" />

      <!-- All the below divs will remain hidden until an account is selected -->
      <div ng-show="widget.selectedAccount">
        <div setting-hist-mode parent-widget="widget" deferred="::histModeDeferred" accounting-behaviour="{{ getBehaviour() }}" />

        <div ng-hide="widget.isHistoryMode">
          <h3>{{getName()}}</h3>
          <div class="price">
             {{ getCurrentBalance() | mnoCurrency : getCurrency() : false }}
          </div>
          <div class="currency">{{getCurrency()}}</div>
        </div>

        <div class="chart-container" ng-class="{'invisible': !widget.isHistoryMode}">
          <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
          <div class="legend">{{getName()}}</div>
        </div>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" widget-engine="::widget.category" />
  </div>

</div>
