<h5>Accounting behaviour</h5>
<div class="settings accounting-behaviour">

<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="selectedBehaviour" btn-radio="'bls'" translate>impac.widget.settings.accounting_behaviour.balance_sheet</label>
      <label class="btn btn_primary" ng-model="selectedBehaviour" btn-radio="'pnl'" translate>impac.widget.settings.accounting_behaviour.p_and_l</label>
    </div>
  </div>
</div>

</div>
