<div class="widget-template-admin">
  <h1>Widget template <small>(last update: {{index.lastUpdate}})</small></h1>


  <div class="panel-cat" ng-click="activateCat('create')">
    <h4>
      <span ng-hide="cat['create']">+</span>
      <span class="ng-hide" ng-show="cat['create']">-</span>
      Create a widget template
    </h4>
  </div>
  <div class="ng-hide" ng-show="cat['create']">
    <div class="alert alert-success ng-hide" ng-show="create.successMsg">Success! Well done!<button class="close" ng-click="create.successMsg=false">×</button></div>
    <div class="alert alert-error ng-hide" ng-show="create.errorMsg">Error: {{create.errors}}<button class="close" ng-click="create.errorMsg=false">×</button></div>
    <form name='create_form'>
      <div class="row">
        <div class="col-md-2 align-right">
          <label for="create_name">*Name:</label>
        </div>
        <div class="col-md-3">
          <input type="text" required id="create_name" class="form-control" ng-model="create.model['name']">
        </div>
        <div class="col-md-2 col-md-offset-1 align-right">
          <label for="create_description">*Description (tooltip):</label>
        </div>
        <div class="col-md-3">
          <input type="text" required id="create_description" class="form-control" ng-model="create.model['description']">
        </div>
      </div>
      <div class="spacer1"></div>
      <div class="row">
        <div class="col-md-2 align-right">
          <label for="create_icon">*Icon (font-awesome):</label>
        </div>
        <div class="col-md-3">
          <input type="text" required id="create_icon" class="form-control" ng-model="create.model['icon']">
        </div>
        <div class="col-md-2 col-md-offset-1 align-right">
          <label for="create_settings">Settings (separated by commas, no spaces):</label>
        </div>
        <div class="col-md-3">
          <input type="text" id="create_settings" class="form-control" ng-model="create.model['settings']">
        </div>
      </div>
      <div class="spacer1"></div>
      <div class="row">
        <div class="col-md-2 align-right">
          <label for="create_width">*Width:</label>
        </div>
        <div class="col-md-3">
          <input type="number" required min="3" max="12" id="create_width" class="form-control" ng-model="create.model['width']">
        </div>
        <div class="col-md-2 col-md-offset-1 align-right">
          <label for="create_screenshot">
            Screenshot: (prefer 400px*380px)
            <br/>
            <small>Preview on save only</small>
          </label>
        </div>
        <div class="col-md-3">
          <input type="file" id="create_screenshot" class="form-control" file-model="create.screenshot">
        </div>
      </div>
      <div class="spacer1"></div>
      <div class="row">
        <div class="col-md-2 align-right">
          <label for="create_full_description">
            *Full description:
            <br/>
            <small>{{create.model['full_description'].length}}/350 char</small>
          </label>
        </div>
        <div class="col-md-3">
          <textarea row="15" required id="create_full_description" class="form-control" ng-model="create.model['full_description']"/>
        </div>
        <div class="col-md-2 col-md-offset-1 align-right">
          <label for="create_active">Active:</label>
        </div>
        <div class="col-md-3">
          <input type="checkbox" id="create_active" class="form-control" ng-model="create.model['active']">
        </div>
      </div>
      <div class="spacer1"></div>
      <div class="row">
        <div class="col-md-2 align-right">
          <label for="category">*Category:</label>
        </div>
        <div class="col-md-3">
          <select required id="category" class="form-control" ng-model="create.model['category']" ng-options="cat.name for cat in index.categories"/>
        </div>
        <div class="col-md-2 col-md-offset-1 align-right">
          <label for="create_engine">Engine:</label>
        </div>
        <div class="col-md-3">
          <input type="text" id="create_engine" class="form-control" ng-model="create.model['engine']">
        </div>
      </div>
      <div class="spacer1"></div>
      <div class="row">
        <h4>Endpoints:</h4>
      </div>
      <div class="row">
        <div ng-repeat="ep in create.endpoints">
          <div class="col-md-2 align-right checkbox-label">
            <label for="{{ep.name}}">{{ep.name}}</label>
          </div>
          <div class="col-md-1">
            <input type="checkbox" id="{{ep.name}}" class="form-control" ng-model="ep.checked" ng-change="getCompatibleApps(create)"/>
          </div>
        </div>
      </div>
      <div class="spacer1"></div>
      <div class="row">
        <h4>Preview:</h4>
      </div>
      <div class="impac-catalogue">
        <div class="col-md-2"></div>
        <div class="col-md-9 content" id="preview_create" ng-style="{'border-color' : create.model.category.color}">

          <div class="row header">
            <div class="col-xs-2 heading" ng-style="{'background-color' : create.model.category.color, 'border-color' : create.model.category.color}">
              {{create.model.category.name}}
            </div>
            <div class="col-xs-1 triangle-topleft" ng-style="{'border-top-color' : create.model.category.color}"></div>
            <span class="red" ng-hide="create.model.active">Inactive (displayed only to admins)</span>
          </div>
          
          <div class="row title center">
            <h2>{{create.model.name}}</h2>
          </div>

          <div class="row fields-container">
            
            <div class="col-md-6">
              <div class="left-panel">
                <div class="heading" ng-style="{'background-color' : create.model.category.color}" style="font-size: 17px; font-weight: 700;">
                  Screenshot
                </div>
                <div class="field screenshot">
                  <img ng-src="{{create.model.screenshot}}" ng-show="create.inProgress">
                  <p ng-hide="create.inProgress">No preview available</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 right-panel">
              <div class="row">
                <div class="heading" ng-style="{'background-color' : create.model.category.color}" style="font-size: 17px; font-weight: 700;">
                  Description
                </div>
                <div class="field description">
                  <p ng-bind-html="create.model.full_description"></p>
                </div>
              </div>

              <div class="row">
                <div class="heading" ng-style="{'background-color' : create.model.category.color}" style="font-size: 17px; font-weight: 700;">
                  Settings
                </div>
                <div class="field settings">
                  <div class="setting" ng-class="getSettings(create.model).length <= 3 ? 'col-md-12' : 'col-md-6'" ng-repeat="setting in getSettings(create.model) track by $index">
                    <i ng-hide="getSettings(create.model).length == 0" class="fa fa-cog" />
                    {{setting}}
                  </div>
                </div>
              </div>

              <div class="row" ng-style="{'border-color' : create.model.category.color}">
                <div class="heading" ng-style="{'background-color' : create.model.category.color}" style="font-size: 17px; font-weight: 700;">
                  Compatible with...
                </div>
                <div class="field apps">
                  <div class="col-md-2 app" ng-repeat="app in create.model.compatible_apps.slice(0,6)" style="padding: 0px;" >
                    <img ng-src="{{app.logo.logo.url}}" class="app-logo" tooltip="{{app.name}}" tooltip-placement="bottom" />
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="spacer2"></div>
      <div class="row center" ng-hide="create.inProgress">
        <label>
          Generate pdf:
          <input type="checkbox" name="generate_pdf" ng-model="create.generatePdf"/>
        </label>
        <button class="btn btn-primary" ng-disabled="create.saveDisabled || create_form.$invalid" ng-click="create.save()">Save</button>
        <button class="btn btn-warning" ng-click="create.reset()">Reset</button>
      </div>
    </form>
  </div>

  <div class="panel-cat" ng-click="activateCat('update')">
    <h4>
      <span ng-hide="cat['update']">+</span>
      <span class="ng-hide" ng-show="cat['update']">-</span>
      Update a widget template
    </h4>
  </div>
  <div class="ng-hide" ng-show="cat['update']">
    <div class="alert alert-success ng-hide" ng-show="update.successMsg">Success! Well done!<button class="close" ng-click="update.successMsg=false">×</button></div>
    <div class="alert alert-error ng-hide" ng-show="update.errorMsg">Error: {{update.errors}}<button class="close" ng-click="update.errorMsg=false">×</button></div>
    <div ng-show="index.inProgress" class="ng-hide"><img class="gif" ng-src="{{loaderImage}}"/></div>
    <div ng-hide="index.inProgress" class="selector">
      <select ng-model="update.selected" convert-to-number class="form-control" ng-options="wt.name for wt in index.model" />

      <div ng-hide="update.selected">No widget template selected</div>
        <div class="ng-hide" ng-show="update.selected">
        <form name='update_form'>
          <div class="spacer1"></div>
          <div class="row">
            <h4>Template details:</h4>
          </div>
          <div class="row">
            <div class="col-md-2 align-right">
            <label for="update_name">*Name:</label>
            </div>
            <div class="col-md-3">
              <input type="text" required id="update_name" class="form-control" ng-model="update.model['name']">
            </div>
            <div class="col-md-2 col-md-offset-1 align-right">
              <label for="update_description">*Description (tooltip):</label>
            </div>
            <div class="col-md-3">
              <input type="text" required id="update_description" class="form-control" ng-model="update.model['description']">
            </div>
          </div>
          <div class="spacer1"></div>
          <div class="row">
            <div class="col-md-2 align-right">
            <label for="update_icon">*Icon (font-awesome):</label>
            </div>
            <div class="col-md-3">
              <input type="text" required id="update_icon" class="form-control" ng-model="update.model['icon']">
            </div>
            <div class="col-md-2 col-md-offset-1 align-right">
              <label for="update_settings">Settings (separated by commas, no spaces):</label>
            </div>
            <div class="col-md-3">
              <input type="text" id="update_settings" class="form-control" ng-model="update.model['settings']">
            </div>
          </div>
          <div class="spacer1"></div>
          <div class="row">
            <div class="col-md-2 align-right">
            <label for="update_width">*Width:</label>
            </div>
            <div class="col-md-3">
              <input type="number" required min="3" max="12" id="update_width" class="form-control" ng-model="update.model['width']">
            </div>
            <div class="col-md-2 col-md-offset-1 align-right">
              <label for="update_screenshot">
                Screenshot: (prefer 400px*380px)
                <br/>
                <small>Preview on save only</small>
              </label>
            </div>
            <div class="col-md-3">
              <input type="file" id="update_screenshot" class="form-control" file-model="update.screenshot">
            </div>
          </div>
          <div class="spacer1"></div>
          <div class="row">
            <div class="col-md-2 align-right">
              <label for="update_full_description">
                *Full description:
                <br/>
                <small>{{update.model['full_description'].length}}/350 char</small>
              </label>
            </div>
            <div class="col-md-3">
              <textarea row="15" required id="update_full_description" class="form-control" ng-model="update.model['full_description']"/>
            </div>
            <div class="col-md-2 col-md-offset-1 align-right">
              <label for="update_active">Active:</label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" id="update_active" class="form-control" ng-model="update.model['active']">
            </div>
          </div>
          <div class="spacer1"></div>
          <div class="row">
            <div class="col-md-2 align-right">
              <label for="category">*Category:</label>
            </div>
            <div class="col-md-3">
              <select required id="category_id" class="form-control" ng-model="update.model['category']" ng-options="cat.name for cat in index.categories track by cat.id"/>
            </div>
            <div class="col-md-2 col-md-offset-1 align-right">
              <label for="update_engine">Engine:</label>
            </div>
            <div class="col-md-3">
              <input type="text" id="update_engine" class="form-control" ng-model="update.model['engine']">
            </div>
          </div>
          <div class="spacer1"></div>
          <div class="row">
            <h4>Endpoints:</h4>
          </div>
          <div class="row">
            <div ng-repeat="ep in update.endpoints">
              <div class="col-md-2 align-right checkbox-label">
                <label for="{{ep.name}}">{{ep.name}}</label>
              </div>
              <div class="col-md-1">
                <input type="checkbox" id="{{ep.name}}" class="form-control" ng-model="ep.checked" ng-change="getCompatibleApps(update)"/>
              </div>
            </div>
          </div>
          <div class="spacer1"></div>
          <div class="row">
            <h4>Preview:</h4>
          </div>
          <div class="impac-catalogue">
            <div class="col-md-2"></div>
            <div class="col-md-9 content" id="preview_update" ng-style="{'border-color' : update.model.category.color}">

              <div class="row header">
                <div class="col-xs-2 heading" ng-style="{'background-color' : update.model.category.color, 'border-color' : update.model.category.color}">
                  {{update.model.category.name}}
                </div>
                <div class="col-xs-1 triangle-topleft" ng-style="{'border-top-color' : update.model.category.color}"></div>
                <span class="red" ng-hide="update.model.active">Inactive (displayed only to admins)</span>
              </div>
              
              <div class="row title center">
                <h2>{{update.model.name}}</h2>
              </div>

              <div class="row fields-container">
                
                <div class="col-md-6">
                  <div class="left-panel">
                    <div class="heading" ng-style="{'background-color' : update.model.category.color}" style="font-size: 17px; font-weight: 700;">
                      Screenshot
                    </div>
                    <div class="field screenshot">
                      <img ng-src="{{update.model.screenshot}}">
                    </div>
                  </div>
                </div>

                <div class="col-md-6 right-panel">
                  <div class="row">
                    <div class="heading" ng-style="{'background-color' : update.model.category.color}" style="font-size: 17px; font-weight: 700;">
                      Description
                    </div>
                    <div class="field description">
                      <p ng-bind-html="update.model.full_description"></p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="heading" ng-style="{'background-color' : update.model.category.color}" style="font-size: 17px; font-weight: 700;">
                      Settings
                    </div>
                    <div class="field settings">
                      <div class="setting" ng-class="getSettings(update.model).length <= 3 ? 'col-md-12' : 'col-md-6'" ng-repeat="setting in getSettings(update.model) track by $index">
                        <i class="fa fa-cog" />
                        {{setting}}
                      </div>
                    </div>
                  </div>

                  <div class="row" ng-style="{'border-color' : update.model.category.color}">
                    <div class="heading" ng-style="{'background-color' : update.model.category.color}" style="font-size: 17px; font-weight: 700;">
                      Compatible with...
                    </div>
                    <div class="field apps">
                      <div class="col-md-2 app" ng-repeat="app in update.model.compatible_apps.slice(0,6)" style="padding: 0px;" >
                        <img ng-src="{{app.logo.logo.url}}" class="app-logo" tooltip="{{app.name}}" tooltip-placement="bottom" />
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="spacer2"></div>
          <div class="row center" ng-hide="update.inProgress">
            <label>
              Generate pdf:
              <input type="checkbox" name="generate_pdf" ng-model="update.generatePdf"/>
            </label>
            <button class="btn btn-primary" ng-disabled="update.saveDisabled || update_form.$invalid" ng-click="update.save()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="panel-cat" ng-click="activateCat('delete')">
    <h4>
      <span ng-hide="cat['delete']">+</span>
      <span class="ng-hide" ng-show="cat['delete']">-</span>
      Delete a widget template
    </h4>
  </div>
  <div class="ng-hide" ng-show="cat['delete']">
    <div ng-show="index.inProgress" class="ng-hide"><img class="gif" ng-src="{{loaderImage}}"/></div>
    <div ng-hide="index.inProgress" class="selector">
      <select ng-model="destroy.selected" convert-to-number class="form-control" ng-options="wt.name for wt in index.model">
      </select>
      <div ng-hide="destroy.selected">No widget template selected</div>
      <div class="ng-hide" ng-show="destroy.selected">
        Do you really wish to permanantly delete the widget template "{{destroy.selected.name}}" (you could also simply desactivate it)? If so type "<strong>I do</strong>" in the input below.
        <br/>
        <label>
          Generate pdf:
          <input type="checkbox" name="generate_pdf" ng-model="destroy.generatePdf"/>
        </label>
        <input type="text" ng-model="destroy.confirm">
        <button class="btn btn-warning" ng-disabled="destroy.confirm != 'I do'" ng-click="destroy.destroy()" ng-hide="destroy.inProgress">Delete</button>
        <div class="ng-hide" ng-show="destroy.inProgress"><img class="gif" ng-src="{{loaderImage}}"/></div>
      </div>
    </div>
  </div>

  <div class="panel-cat" ng-click="activateCat('addCategory')">
    <h4>
      <span ng-hide="cat['addCategory']">+</span>
      <span class="ng-hide" ng-show="cat['addCategory']">-</span>
      Add a category
    </h4>
  </div>
  <div class="ng-hide" ng-show="cat['addCategory']">
    <div class="row">
      <div class="col-md-2">
        <input type="text" placeholder="Name" ng-model="addCategory.model.name"/>
      </div>
      <div class="col-md-2">
        <div class="row">
          <input type="text" placeholder="Color (ex: #1de9b6)" ng-model="addCategory.model.color"/>
        </div>
        <div class="row">
        Impac! colors: "#1de9b6","#7c4dff","#ffc928","#3fc4ff","#ff8e01",
        <br/>"#c6ff00","#d500fa","#ff6e41","#ffeb3c","#ff1844".
        </div>
      </div>
      <div class="col-md-1" style="color: white; background-color:{{addCategory.model.color}}">
        Test
      </div>
      <div class="col-md-1">
        <a class="btn btn-warning btn-sm" ng-click="addCategory.save()">Save</a>
      </div>
    </div>
  </div>

  <div class="panel-cat" ng-click="activateCat('updateCategory')">
    <h4>
      <span ng-hide="cat['updateCategory']">+</span>
      <span class="ng-hide" ng-show="cat['updateCategory']">-</span>
      Update a category
    </h4>
  </div>
  <div class="ng-hide" ng-show="cat['updateCategory']">
  <div class="alert alert-success ng-hide" ng-show="updateCategory.successMsg">Success! Well done!<button class="close" ng-click="updateCategory.successMsg=false">×</button></div>
  <div class="alert alert-error ng-hide" ng-show="updateCategory.errorMsg">Error: {{updateCategory.errors}}<button class="close" ng-click="updateCategory.errorMsg=false">×</button></div>
    <div class="row">
      <div ng-show="index.inProgress" class="ng-hide"><img class="gif" ng-src="{{loaderImage}}"/></div>
      <div ng-hide="index.inProgress" class="selector">
        <select ng-model="updateCategory.selected" convert-to-number class="form-control" ng-options="cat.name for cat in index.categories"></select>
        <div class="spacer1"></div>
      </div>
      <div ng-hide="updateCategory.selected">No category selected</div>
      <div class="ng-hide" ng-show="updateCategory.selected">
        <div class="col-md-2">
          <input type="text" placeholder="Name" ng-model="updateCategory.model.name"/>
        </div>
        <div class="col-md-2">
          <div class="row">
            <input type="text" placeholder="Color (ex: #1de9b6)" ng-model="updateCategory.model.color"/>
          </div>
          <div class="row">
          Impac! colors: "#1de9b6","#7c4dff","#ffc928","#3fc4ff","#ff8e01",
          <br/>"#c6ff00","#d500fa","#ff6e41","#ffeb3c","#ff1844".
          </div>
        </div>
        <div class="col-md-1" style="color: white; background-color:{{updateCategory.model.color}}">
          Test
        </div>
        <div class="col-md-1">
          <a class="btn btn-warning btn-sm" ng-click="updateCategory.save()">Save</a>
        </div>
        <div class="col-md-6">
          <strong>Warning: updating a category (name or color) won't update the pdf catalogue. Each widget of that category will have to be updated.</strong>
        </div>
      </div>
    </div>
  </div>

</div>
