<div widget-sales-customer-details>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)" class="row" >

      <div ng-class="widget.isExpanded() ? 'col-md-6' : 'col-md-12'">
        <div setting-width parent-widget="widget" min="3" max="6" class="settings width" deferred="::widthDeferred" />
        <div setting-param-selector parent-widget="widget" param="customer_uid" options="customersOptions" selected="selectedCustomer" class="row title" deferred="::paramSelectorDeferred" />

        <div class="details-container">
          <div class="row">
            <div class="col-md-4"><label>Email</label></div>
            <div class="col-md-8"><pre>{{getCustomer().email}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label>Phone</label></div>
            <div class="col-md-8"><pre>{{getCustomer().phone}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label>Website</label></div>
            <div class="col-md-8"><pre>{{getCustomer().website}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label>Contact</label></div>
            <div class="col-md-8"><pre>{{getCustomer().contact}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label>City</label></div>
            <div class="col-md-8"><pre>{{getCustomer().city}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label>Country</label></div>
            <div class="col-md-8"><pre>{{getCustomer().country}}</pre></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 right-panel" ng-show="widget.isExpanded()">
        <div class="details-container">
          <div class="row" style="border-bottom: solid 1px #e6e6e6; margin-bottom: 10px; padding-bottom: 5px;">
            <div class="col-md-3"><label>Address</label></div>
            <div class="col-md-9"><pre>{{formatAddress(getCustomer().full_address)}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-12 center legend">From {{getFromDate() | date : 'd MMM yyyy'}} to {{getToDate() | date : 'd MMM yyyy'}}:</div>
          </div>
          <div class="row">
            <div class="col-md-5"><label>Total invoiced</label></div>
            <div class="col-md-7"><pre>{{getCustomer().total_invoiced | mnoCurrency : getCustomer().currency}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-5"><label>Total paid</label></div>
            <div class="col-md-7"><pre>{{getCustomer().total_paid | mnoCurrency : getCustomer().currency}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-5"><label>Total due</label></div>
            <div class="col-md-7"><pre>{{getCustomer().total_due | mnoCurrency : getCustomer().currency}}</pre></div>
          </div>
        </div>
      </div>

    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" />
  </div>

</div>
