<div widget-sales-opportunities-funnel>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.sales_funnel.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-params-picker options="statusOptions" has-reach="hasReach" param="sales_stage_selection" parent-widget="widget" class="part" deferred="::paramsPickerDeferred1" />
    <div setting-params-picker options="assigneesOptions" has-reach="hasReach" param="assignees_selection" parent-widget="widget" class="part" deferred="::paramsPickerDeferred2" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.sales_funnel.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.sales_funnel.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div class="row">

      <div ng-class="widget.isExpanded() ? 'col-md-6': 'col-md-12'">
        <div setting-width parent-widget="widget" min="6" max="12" class="settings width" deferred="::widthDeferred" />

        <div class="legend" translate>impac.widget.sales_funnel.legend</div>

        <div class="funnel-container">
          <div class="tile" ng-repeat="elem in funnel" ng-click="toggleSelectStatus(elem.status)">
            <div class="colored-area" ng-style="elem.coloredWidth" ng-class="isSelected(elem.status) ? 'selected' : ''">{{elem.number}}</div>
            <div class="main-text" ng-style="elem.statusWidth">{{elem.status | titleize}}</div>
          </div>
        </div>
      </div>

      <div class="col-md-6 right-panel text-center" ng-show="widget.isExpanded()">

        <div ng-hide="selectedStatus" class="currency" translate>impac.widget.sales_funnel.select_a_sales</div>

        <div ng-show="selectedStatus" class="widget-lines-container">

          <!-- Header -->
          <div class="row widget-line header">
            <div class="col-xs-6 sortable-title" ng-click="sort('group')">
              {{'impac.widget.sales_funnel.assignees_opportunities' | translate}}
              <i ng-show="sortedColumn == 'group'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
            </div>
            <div class="col-xs-6 text-right sortable-title" ng-click="sort('total')">
              {{'impac.widget.sales_funnel.potential_per_assignee' | translate}}
              <i ng-show="sortedColumn == 'total'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
            </div>
          </div>

          <div class="row lines-group widget-line" ng-repeat="group in selectedOpportunities">
            <div class="col-xs-12">

              <!-- Assignee lines -->
              <div class="row widget-line" ng-click="toggleCollapsed(group)">
                <div class="col-xs-1">
                  <i class="fa" ng-class="isCollapsed(group) ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
                </div>
                <div class="col-xs-6">
                  <strong>{{group.assigneeName | titleize}}</strong>
                </div>
                <div class="col-xs-5 text-right">
                  <strong>{{getTotal(group.opps)}}</strong>
                </div>
              </div>

              <!-- Opportunity lines -->
              <div class="row" uib-collapse="isCollapsed(group)">
                <div class="col-xs-12">
                  <div class="row widget-line" ng-repeat="opp in group.opps">
                    <div class="col-xs-6 col-xs-offset-1">
                      {{opp.name | titleize}}
                    </div>
                    <div class="col-xs-5 text-right">
                      <strong>{{getOppDetails(opp)}}</strong>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div ng-show="widget.demoData" common-data-not-found />
  </div>

</div>
