@media print {
  body { background-color: white !important; }
  .analytics {
    padding-top: 0px !important;
    #module__dashboard-selector .title-container { margin-top: 20px; }
    .widget-item {
      .content .chart-container {
        max-width: 270px;
        margin: auto;
        canvas {
          width: 100% !important;
          height: 100% !important;
        }
      }
      .right-panel {
        border-left: 0;
        .chart-container {
          max-width: inherit;
          max-height: inherit;
          canvas {
            width: 80% !important;
            height: 80% !important;
          }
        }
      }
    }
  }
  * { transition: none !important; }
}
