.pdf-mode {
  // Dashboard title logo
  .analytics #head-title #dashboard-heading h2 {
    display: inline-block;
  }
  // Dashboard selector
  #module__dashboard-selector .buttons-bar .dropdown-container .dashboard-title {
    color: black;
    cursor: auto;
  }
  #module__dashboard-selector .buttons-bar {
    position: relative;
  }
  .dropdown-container {
    width: 100%;
    text-align: center;
  }
  .actions-panel {
    position: absolute;
    right: 0;
  }
  //  Widgets
  .analytics {
    .widget-item {
      width: 100%;
      .include-to-pdf{
        background-color: white;
        padding-top: 10px;
        h6 {
          padding: 10px;
          background-color: #FFC928;
          text-align: center;
          margin: 0;
        }
        .widget-hover {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 9px;
          top: 0;
          right: 0;
          -webkit-transition: all ease .5s;
          -moz-transition: all ease .5s;
          transition: all ease .5s;
          z-index: 1;
        }
        .widget-hover:hover {
          opacity: .5;
          background: #CCCFD0;
        }
        i {
          position: absolute;
          top: 35%;
          left: 46%;
          font-size: 100px;
          opacity: .5;
          z-index: 2;
          color: black;
        }
      }
      .content {
        position: relative;
        .legend {
          max-height: none !important;
        }
        .widget-lines-container {
          max-height: none !important;
        }
        &.accounts-cash-summary {
          height: 100%;
        }
        &.accounts-assets-liability-summary {
          height: 100%;
        }
        &.accounts-cash-summary {
          min-height: 0;
        }
        &.accounts-comparison {
          min-height: 0;
          height: 100%;
          .add-account {
            display: none;
          }
        }
        &.accounts-detailed-classifications{
          min-height: 0;
        }
        &.accounts-balance-sheet {
          min-height: 0;
        }
        &.accounts-profit-and-loss {
          min-height: 0;
        }
        &.invoices-aged-payables-receivables {
          min-height: 0;
        }
        &.sales-aged {
          min-height: 0;
        }
        &.sales-comparison {
          min-height: 0;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .analytics {
      .widget-item .content {
        height: 100%;
        .chart-container {
          max-height: none;
        }
        .invisible {
          max-height: 0;
        }
        &.accounts-balance-sheet {
          height: 100%;
        }
        &.accounts-detailed-classifications{
          height: 100%;
        }
        &.accounts-cash-summary {
          height: 100%;
        }
        &.accounts-profit-and-loss {
          height: 100%;
        }
        &.invoices-aged-payables-receivables {
          height: 100%;
        }
        &.sales-aged {
          height: 100%;
        }
        &.sales-comparison {
          height: 100%;
        }
      }
    }
  }
}
