/* ************************************************************************ */
/*                                LESS VARIABLES
**                This stylesheet should only contain variables.
/* ************************************************************************ */

/*-----------------------------------------------------------------------*/
/*                          Color palette                                */
/*-----------------------------------------------------------------------*/
@mgreen:                          #dae173;
@morange:                         #d6782b;
@mdarkblue:                       #232528;
@mgrey:                           #cccccc;
@mlightgrey:                      #999999;
@mdarkbg:                         #16161B;
@mblue:                           #358fdc;
@darkerblue:                      #16252c;
@darkblue:                        #17262d;
@darkerblue:                      darken(@darkblue,4%);
@darkblue2:                       #25333a;
@mediumblue:                      #626d6d;
@lightblue:                       #abc4c6;
@pink:                            #ed1e79;

@fluroblue:                       #00e5f0;
@fluroorange:                     #ff7300;
@flureoyellow:                    #fbd925;
@flurogreen:                      #47ff00;
@fluropink:                       #e01f74;

@darkgreen:                       #33d375;
@green:                           #d1e55c;
@purple:                          #977bf0;
@lightgray:                       #e6edee;
@bluegray:                        #abc4c6;
@bluegray2:                       #35464c;

@brand-success:                  @fluroblue;
@brand-warning:                  @purple;
@brand-info:                     @fluroblue;
@brand-danger:                   @fluropink;
@brand-primary:                  @fluroblue;

@impac-positive:                 green;
@impac-negative:                 @pink;
@impac-positive2:                #3fc4ff;     // lighter colors used for payables-receivables
@impac-negative2:                #1de9b6;     // lighter colorsused for payables-receivables

// Dashboard
//--------------------------------------
@impac-dashboard-padding-top:                   50px;
@impac-dashboard-margin-left:                   100px;
@impac-dashboard-borders-color:                 @lightblue;

// Title
@impac-dashboard-title-color:                   @purple;
@impac-dashboard-title-label-color:             @darkblue;
@impac-dashboard-title-label-create-color:      white;
@impac-dashboard-source-color:                  @impac-dashboard-title-label-color;
@impac-dashboard-buttons-border-radius:         4px;

// Dashboard Selector
  // Tabs
@impac-dashboard-selector-border:               1px solid @impac-dashboard-borders-color;
@impac-dashboard-selector-tabs-margin:          0 2px 0 0;
@impac-dashboard-selector-tabs-padding:         10px 8px 10px 15px;
@impac-dashboard-selector-tabs-background-color: transparent;
@impac-dashboard-selector-tabs-active-background-color: #ffffff;
@impac-dashboard-selector-tabs-color:           black;
@impac-dashboard-selector-tabs-active-color:    @purple;

// Widget selector
@impac-dashboard-widget-selector-bg:            #233845;
@impac-dashboard-widget-selector-text-color:    white;

// Widgets container
@impac-placeholder-border:                      2px dashed @impac-dashboard-borders-color;
@impac-widgets-container-side-padding:          0px;
@impac-padding-between-widgets:                 12px;
@impac-minimum-widget-size:                     250px;
@impac-big-widget-size:                         565px;

// Buttons
@impac-btn-shadded-bg:                         @darkblue;
@impac-btn-shadded-color:                      @mediumblue;

// Dashboard Modals
@impac-dashboard-loading-spinner:               white;

// Widgets
//--------------------------------------
// Global
@impac-widget-link-color:                      @purple;
@impac-widget-buttons-color:                   @impac-widget-link-color;
@impac-widget-tile-selected-color:             @impac-widget-link-color;
@impac-widget-background-color:                white;
@impac-widget-border:                          solid 1px darken(@lightgray,10%);
@impac-widget-text-color:                      #5B6667;
@impac-widget-text-color-medium:               lighten(@impac-widget-text-color,25%);
@impac-widget-text-color-light:                lighten(@impac-widget-text-color,40%); //#acb0b1
@impac-widget-borders-color:                   lighten(@impac-widget-text-color-light,10%); //#f3f4f4
@impac-widget-scrollbar-color:                 #233845;
@impac-widget-loading-spinner:                 #67BBE9;
@impac-widget-reverse-color:                   #1E303B;

// Title
@impac-widget-title-text-color:                darken(@impac-widget-text-color,5%);
@impac-widget-title-bg:                        @impac-widget-background-color;
@impac-widget-title-border:                    solid 1px @impac-widget-borders-color;
@impac-widget-title-text-transform:            uppercase;
@impac-widget-title-text-size:                 12px;
@impac-widget-title-border-radius:             5px 5px 0px 0px;
@impac-widget-top-buttons-color:               @impac-widget-text-color-light;

// Content
@impac-widget-content-border-radius:           0px 0px 5px 5px;
@impac-widget-lines-container-max-height:      200px;

// Settings
// Param selector
@impac-widget-param-selector-color:            @impac-widget-link-color;
// Hist Mode Choser
@impac-widget-hist-text-transform:             uppercase;
@impac-widget-hist-text-size:                  12px;
@impac-widget-hist-text-color:                 @impac-widget-text-color-light;
// Params picker
@impac-widget-params-picker-bg:                @impac-widget-reverse-color;
@impac-widget-params-picker-unchecked-bg:      #c2c4c4;
// Limit entries
@impac-widget-limit-entries-color:             @impac-widget-reverse-color;

// Globals and Mixins
@impac-widget-selectable-color:                @impac-widget-link-color;

// Edit settings
@impac-widget-sub-bg-color:                    darken(@impac-widget-background-color,6%);
@impac-widget-sub-bg-color-light:              lighten(@impac-widget-sub-bg-color,5%); //f3f4f4

// Accounts Comparison
@impac-widget-accounts-comparison-lines-container-max-height: 220px;

// Sales break-even
@impac-widget-sales-break-even-bg:             rgb(25,40,49);
@impac-widget-sales-break-even-text-color:     #1de9b6;
