.analytics .widget-item .content.accounts-ratios {
  // component specific styles
  // -------------------------

  .member {
    .currency {
      font-style: italic;
      font-size: 12px;
    }
  }

  .separator {
    margin-top: 30px;
    border-bottom: solid 1px #9ba6a7;
  }

}
