<div widget-invoices-aged-payables-receivables>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.invoices_receivables.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.invoices_receivables.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.invoices_receivables.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)" class="row" >
      <div ng-class="widget.isExpanded() ? 'col-md-6' : 'col-md-12'">
        <div setting-width parent-widget="widget" min="6" max="12" class="settings width" deferred="::widthDeferred" />

        <div class="widget-lines-container">

          <div class="row widget-line header">
            <div class="col-xs-6 sortable-title" ng-click="sort('customer')">
              {{'impac.widget.invoices_receivables.payables_and_receivables' | translate}}
              <i ng-show="sortedColumn == 'customer'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
            </div>
            <div class="col-xs-3 text-right sortable-title" ng-click="sort('total')">
              {{'impac.widget.invoices_receivables.total' | translate}}
              <i ng-show="sortedColumn == 'total'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
            </div>
            <div class="col-xs-3 text-right sortable-title" ng-click="sort('invoice')">
              {{'impac.widget.invoices_receivables.oldest' | translate}}
              <i ng-show="sortedColumn == 'invoice'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
            </div>
          </div>

          <!-- Payables -->
          <div class="row lines-group">
            <div class="col-xs-12">

              <div class="row widget-line">
                <div class="col-xs-1" ng-click="toggleCollapsed(widget.content.payables)">
                  <i ng-show="(widget.content.payables.suppliers && widget.content.payables.suppliers.length)" class="fa" ng-class="isCollapsed(widget.content.payables) ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
                </div>
                <div class="col-xs-5" ng-click="toggleSelectedElement(widget.content.payables)">
                  <strong translate>impac.widget.invoices_receivables.aged_payables</strong>
                </div>
                <div class="col-xs-3 text-right" ng-click="toggleSelectedElement(widget.content.payables)">
                  <strong>{{getTotalSum(widget.content.payables) | mnoCurrency : widget.content.payables.currency}}</strong>
                </div>

                <div class="selection-tag" ng-if="isSelected(widget.content.payables)" style="background-color: {{ getSelectLineColor(widget.content.payables) }}"/>
              </div>

              <div class="row" collapse="isCollapsed(widget.content.payables)">
                <div class="col-xs-12">
                  <div class="row widget-line" ng-click="toggleSelectedElement(supplier)" ng-repeat="supplier in widget.content.payables.suppliers">
                    <div class="col-xs-5 col-xs-offset-1">
                      {{supplier.name}}
                    </div>
                    <div class="col-xs-3 text-right">
                      {{getTotalSum(supplier) | mnoCurrency : supplier.currency}}
                    </div>
                    <div class="col-xs-3 text-right">
                      <span tooltip="{{'impac.widget.invoices_receivables.tooltip.oldest_invoice' | translate}} {{getOldestInvoice(supplier)}}" tooltip-placement="left">
                        {{getOldestInvoice(supplier) | mnoDate : widget.metadata.hist_parameters.period}}
                      </span>
                    </div>

                    <div class="selection-tag" ng-if="isSelected(supplier)" style="background-color: {{ getSelectLineColor(supplier) }}"/>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Receivables -->
          <div class="row lines-group">
            <div class="col-xs-12">

              <div class="row widget-line" >
                <div class="col-xs-1" ng-click="toggleCollapsed(widget.content.receivables)">
                  <i ng-show="(widget.content.receivables.customers && widget.content.receivables.customers.length)" class="fa" ng-class="isCollapsed(widget.content.receivables) ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
                </div>
                <div class="col-xs-5" ng-click="toggleSelectedElement(widget.content.receivables)">
                  <strong translate>impac.widget.invoices_receivables.aged_receivables</strong>
                </div>
                <div class="col-xs-3 text-right" ng-click="toggleSelectedElement(widget.content.receivables)">
                  <strong>{{getTotalSum(widget.content.receivables) | mnoCurrency : widget.content.receivables.currency}}</strong>
                </div>

                <div class="selection-tag" ng-if="isSelected(widget.content.receivables)" style="background-color: {{ getSelectLineColor(widget.content.receivables) }}"/>
              </div>

              <div class="row" collapse="isCollapsed(widget.content.receivables)">
                <div class="col-xs-12">
                  <div class="row widget-line" ng-click="toggleSelectedElement(customer)" ng-repeat="customer in widget.content.receivables.customers" ng-class="isSelected(customer) ? 'selected' : null" >
                    <div class="col-xs-5 col-xs-offset-1">
                      {{customer.name}}
                    </div>
                    <div class="col-xs-3 text-right">
                      <span>{{getTotalSum(customer) | mnoCurrency : customer.currency}}</span>
                    </div>
                    <div class="col-xs-3 text-right">
                      <span tooltip="{{'impac.widget.invoices_receivables.tooltip.oldest_invoice' | translate}} {{getOldestInvoice(customer)}}" tooltip-placement="left">
                        {{getOldestInvoice(customer) | mnoDate : widget.metadata.hist_parameters.period}}
                      </span>
                    </div>

                    <div class="selection-tag" ng-if="isSelected(customer)" style="background-color: {{ getSelectLineColor(customer) }}"/>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 right-panel text-center" ng-show="widget.isExpanded()">

        <div ng-show="hasElements()">

          <h4>{{::period_translation | titleize}} {{'impac.widget.invoices_receivables.aged_payables_and_receivables' | translate}}</h4>

          <div ng-show="selectedElements.length < 2" class="legend">{{getName(selectedElements[0]) | titleize}}</div>

          <div class="chart-container">
            <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
          </div>

          <div ng-show="selectedElements.length < 2" class="widget-lines-container">

            <!-- Not mobile -->
            <div class="row">
              <span ng-repeat="date in widget.content.dates track by $index" class="hidden-xs">
                <!-- Separator every 4 items -->
                <div ng-if="$index % 4 == 0 && $index > 0" class="clearfix dashed"></div>

                <div class="col-sm-3 text-center">
                  <!-- Date -->
                  <div class="row widget-line">
                    <div class="col-sm-12">
                      {{date | mnoDate : widget.metadata.hist_parameters.period}}
                    </div>
                  </div>
                  <!-- Amount + currency -->
                  <div class="row widget-line">
                    <div class="col-sm-12" ng-class="getClassColor(selectedElements[0].totals[$index])">
                      {{selectedElements[0].totals[$index] | mnoCurrency : selectedElements[0].currency}}
                    </div>
                  </div>
                </div>
              </span>
            </div>

            <!-- Mobile -->
            <div ng-repeat="date in widget.content.dates track by $index" class="row widget-line visible-xs">
              <!-- Date -->
              <div class="col-xs-6">
                {{date | mnoDate : widget.metadata.hist_parameters.period}}
              </div>
              <!-- Amount + currency -->
              <div class="col-xs-6 text-right" ng-class="getClassColor(selectedElements[0].totals[$index])">
                {{selectedElements[0].totals[$index] | mnoCurrency : selectedElements[0].currency}}
              </div>
            </div>

            <div class="row astericks-info">
              <div class="col-xs-12">
                <p><i translate>impac.widget.invoices_receivables.your_opening_balance</i></p>
              </div>
            </div>
          </div>

          <div ng-hide="selectedElements.length < 2" class="widget-lines-container">

            <div class="row widget-line header">
              <div class="col-xs-4 col-xs-offset-8 text-right">Totals</div>
            </div>

            <div class="row widget-line" ng-repeat="element in selectedElements track by $index">
              <div class="col-xs-2">
                <i class="fa fa-circle" style="margin: 0px 8px; color: {{getElementChartColor($index)}}" />
              </div>
              <div class="col-xs-6">
                {{getName(element) | titleize}}
              </div>
              <div class="col-xs-4 text-right">
                <i>{{getTotalSum(element) | mnoCurrency : element.currency}}</i>
              </div>
            </div>

            <div class="row astericks-info">
              <div class="col-xs-12">
                <p><i translate>impac.widget.invoices_receivables.your_opening_balance</i></p>
              </div>
            </div>
          </div>

        </div>

        <div ng-hide="hasElements()" class="no-element" translate>impac.widget.invoices_receivables.select_accounts</div>

      </div>

    </div>

    <div ng-if="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" widget-width="::widget.width"/>
  </div>

</div>
