<div id="transactions-add">
  <div class="overlay" />
  <div class="message" >
    <div class="title">Create a manual transaction</div>

    <div class="form text-left">
      <label>Description:</label>
      <input type="text" class="form-control" ng-model="$ctrl.trx.name" placeholder="Transaction description" />

      <label>Amount:</label>
      <input type="text" class="form-control" ng-model="$ctrl.trx.amount" placeholder="1500.00" />

      <label>Expected payment date:</label>
      <input type="text" class="btn btn-default form-control" uib-datepicker-popup="dd MMM yyyy" ng-model="$ctrl.trx.datePicker.date" ng-click="$ctrl.trx.datePicker.toggle()" is-open="$ctrl.trx.datePicker.opened" close-text="Close" on-open-focus="false" />

      <label>Type:</label>
      <div class="btn-group">
        <label class="btn btn-sm btn-default" ng-model="$ctrl.resourcesType" uib-btn-radio="'invoices'">Money in</label>
        <label class="btn btn-sm btn-default" ng-model="$ctrl.resourcesType" uib-btn-radio="'bills'">Money out</label>
      </div>

      <div class="schedulable-section" ng-class="{disable: !$ctrl.schedulable.recurring}">
        <div class="block">
          <input type="checkbox" ng-model="$ctrl.schedulable.recurring">
          <label style="color: black; font-style: normal; ">Repeat every:</label>
        </div>
        <div class="options" ng-show="$ctrl.schedulable.recurring">
          <div class="btn-group">
            <select ng-disabled="!$ctrl.schedulable.recurring" ng-model="$ctrl.schedulable.interval" ng-options="num for num in $ctrl.range(1,5)"></select>
            <select ng-disabled="!$ctrl.schedulable.recurring" ng-model="$ctrl.schedulable.rule" ng-options="rule.name for rule in $ctrl.schedulable.rules"></select>
          </div>

          <label style="padding-top: 10px;">Ends:</label>
          <div class="btn-group">
            <div class="block">
              <input type="radio" name="end_type" ng-model="$ctrl.schedulable.endType" value="occurrencies" ng-disabled=!"$ctrl.schedulable.recurring" checked="true" >
              <label>
                After <select ng-model="$ctrl.schedulable.occurrencies" ng-disabled="!$ctrl.schedulable.recurring" ng-options="num for num in $ctrl.range(1,12)"></select> occurences<br />
              </label>
            </div>
            <div class="block">
              <input type="radio" name="end_type" ng-model="$ctrl.schedulable.endType" value="endDate" ng-disabled="!$ctrl.schedulable.recurring">
              <label>
                 On <input type="text" class="btn btn-xs btn-default" uib-datepicker-popup="dd MMM yyyy" ng-model="$ctrl.schedulable.datePicker.date" ng-click="$ctrl.schedulable.datePicker.toggle()" is-open="$ctrl.schedulable.datePicker.opened" close-text="Close" on-open-focus="false" ng-disabled="!$ctrl.schedulable.recurring" />
              </label>
            </div>
            <div class="block">
              <input type="radio" name="end_type" ng-model="$ctrl.schedulable.endType" value="infinity" ng-disabled="true" style="margin-top: 0px;">
              <label class="disable">Never (coming soon!)</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom text-center">
      <button class="btn btn-sm btn-default" ng-click="$ctrl.onHide()">Cancel</button>
      <button class="btn btn-sm btn-success" ng-click="$ctrl.createTransaction()" ng-disabled="!$ctrl.isValid()">Save</button>
      <button class="btn btn-sm btn-default" ng-click="$ctrl.createTransaction()" >debug</button>
    </div>
  </div>
</div>
