<div widget-hr-employee-details>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.hr_employee_details.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.hr_employee_details.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.hr_employee_details.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)" class="row" >

      <div ng-class="widget.isExpanded() ? 'col-md-6' : 'col-md-12'">
        <div setting-width parent-widget="widget" min="3" max="6" class="settings width" deferred="::widthDeferred" />
        <div setting-param-selector parent-widget="widget" param="employee_uid" options="employeesOptions" selected="selectedEmployee" class="row title" deferred="::paramSelectorDeferred1" />

        <div class="details-container">
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.job_title</label></div>
            <div class="col-md-8"><pre>{{getEmployee().job_title || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.company</label></div>
            <div class="col-md-8"><pre>{{getEmployee().company || getSingleCompanyName()}}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.phone</label></div>
            <div class="col-md-8"><pre>{{getEmployee().phone || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.email</label></div>
            <div class="col-md-8"><pre>{{getEmployee().email || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.date_birth</label></div>
            <div class="col-md-8"><pre>{{getEmployee().dob || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.gender</label></div>
            <div class="col-md-8"><pre>{{getEmployee().gender || "-" }}</pre></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 right-panel" ng-show="widget.isExpanded()">
        <div class="legend"><span translate>impac.widget.hr_employee_details.sal_cal_period</span>: <span setting-param-selector parent-widget="widget" param="period" options="periodOptions" selected="period" deferred="::paramSelectorDeferred2" /></div>
        <div class="details-container">
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.salary</label></div>
            <div class="col-md-8"><pre>{{getEmployee().salary || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.address</label></div>
            <div class="col-md-8"><pre>{{formatAddress(getEmployee().address) || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.job_location</label></div>
            <div class="col-md-8"><pre>{{getEmployee().location || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.supervisor</label></div>
            <div class="col-md-8"><pre>{{getEmployee().supervisor || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.status</label></div>
            <div class="col-md-8"><pre>{{getEmployee().employment_status || "-" }}</pre></div>
          </div>
          <div class="row">
            <div class="col-md-4"><label translate>impac.widget.hr_employee_details.note</label></div>
            <div class="col-md-8"><pre>{{getEmployee().note || "-" }}</pre></div>
          </div>
        </div>
      </div>

    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" />
  </div>

</div>
