.analytics .widget-item .content.sales-top-customers {
  .settings-bar {
    border-bottom: dashed 1px #E6E6E6;
    padding-bottom: 3px;
    a { font-weight: normal; }
    .param-selector { display: inline-block; }
  }
  .widget-lines-container {
    max-height: 235px;
  }
}
