<div widget-hr-superannuation-accruals>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.hr_superannuation_accruals.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.hr_superannuation_accruals.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.hr_superannuation_accruals.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)" class="row" >

      <div setting-param-selector parent-widget="widget" param="employee_id" options="employeesOptions" selected="selectedEmployee" class="currency" deferred="::paramSelectorDeferred" />

      <h3 translate>impac.widget.hr_superannuation_accruals.superannuation_balance</h3>
      <div class="price">{{(getEmployee().total_super || 0) | mnoCurrency : getEmployee().currency}}</div>

    </div>

    <div ng-if="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" widget-width="::widget.width"/>
  </div>

</div>
