<div class="dashboard-settings pdf-mode" ng-if="enabled">
  <div ng-hide="pdfMode">
    <button ng-click="toggle()" class='btn btn-info'>
      <span class='fa fa-print' />
    </button>
  </div>

  <div ng-show="pdfMode">
    <button ng-click="print()" class='btn btn-info' ng-disabled="allNotTicked">
      <span class='fa fa-print' /> {{'impac.components.pdf_mode.print' | translate}}
    </button>
    <button ng-click="toggle()" class='btn btn-default' translate>impac.components.pdf_mode.cancel</button>
  </div>
</div>
