<div widget-accounts-detailed-classifications>

  <div ng-show="widget.isEditMode" class="edit">
    <h4 translate>impac.widget.account_det_class.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.account_det_class.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.account_det_class.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)" class="widget-lines-container">

      <!-- Tab header -->
      <div ng-hide="multiEntity" class="row widget-line header">
        <div class="col-md-8 text-left" translate="impac.widget.account_det_class.acc_classifications" translate-values="{name: widget.content.companies[0].name}">
        </div>

        <div class="col-md-4 text-right">
          <div common-time-period-info context="forwardParams" />
        </div>
      </div>

      <!-- Groups of statements with their accounts -->
      <div class="row lines-group" ng-repeat="source in dataSource track by source.label">
        <div class="col-xs-12">

          <!-- Statements lines -->
          <div class="row widget-line">
            <div class="col-xs-1" ng-click="toggleCollapsed(source.label)" style="cursor: pointer;">
              <i class="fa" ng-class="isCollapsed(source.label) ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
            </div>
            <div class="col-xs-5 text-left">
              <strong>{{source.label | titleize}}</strong>
            </div>
            <div class="col-xs-6 text-right">
              <strong>{{source.value | mnoCurrency : source.currency}}</strong>
            </div>
          </div>

          <!-- Accounts lines -->
          <div class="row" collapse="isCollapsed(source.label)">
            <div class="col-xs-12">
              <div class="row widget-line" ng-repeat="entry in source.entries" >
                <div class="col-xs-5 col-xs-offset-1 text-left">
                  {{entry.label | titleize}}
                </div>
                <div class="col-xs-6 text-right">
                  {{entry.value | mnoCurrency : entry.currency}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" widget-engine="::widget.category" />
  </div>
</div>
