<div widget-accounts-cash-projection>
  <!-- Settings Panel -->
  <div ng-show="widget.isEditMode" class="edit">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <!-- Widget content -->
  <div ng-hide="widget.isEditMode">
    <transactions-list ng-if="trxList.display" transactions="trxList.transactions" currency="widget.metadata.currency" total-records="trxList.totalRecords" resources-type="trxList.resources" on-hide="trxList.hide()" on-page-changed="trxList.fetch(page)" on-currency-change="trxList.fetch()" on-update-expected-date="trxList.updateExpectedDate(trxId, date)" on-change-resources="trxList.changeResourcesType(resourcesType)" on-delete-transaction="trxList.deleteTransaction(resourcesType, trxId)"></transactions-list>

    <div ng-hide="trxList.display">
      <chart-threshold widget="widget" chart-promise="chartPromise" kpi-create-label="chartThresholdOptions.label" on-complete="widget.format()"></chart-threshold>

      <!-- Chart -->
      <div id="{{chartId()}}" class="cash-projection-chart"></div>

      <!-- Bottom buttons -->
      <div class="text-left">
        <button class="btn btn-sm btn-default" ng-click="trxList.showAll()" title="See all due invoices and bills, and forecast">
          <i class="fa fa-list" />
          See all transactions
        </button>
        <button class="btn btn-sm btn-default" ng-click="addForecastPopup.show()" title="Create a new forecast transaction">
          <i class="fa fa-pencil" />
          Add manual transaction
        </button>
      </div>
    </div>

    <div ng-show="widget.demoData" common-data-not-found />
  </div>

  <transactions-add ng-if="addForecastPopup.display" contacts="contacts" resources-type="addForecastPopup.resourcesType" on-hide="addForecastPopup.hide()" on-create-transaction="addForecastPopup.createTransaction(trx)"/>
</div>
