<div widget-sales-number-of-leads>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.sales_number_of_leads.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.sales_number_of_leads.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.sales_number_of_leads.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div class="align-center">
      <div class="selector">
        {{'impac.widget.sales_number_of_leads.leads_for_this' | translate}} <span setting-param-selector parent-widget="widget" param="period" options="periodOptions" selected="period" deferred="::paramSelectorDeferred" />
      </div>

      <div class="stats">
        <div class="stat row align-left" ng-repeat="carac in ['new', 'converted', 'lost']">
          <div class="col-md-6 title" style="padding: 0px;">{{carac | titleize}}</div>
          <div class="col-md-6" style="padding: 0px;">
            <span class="variation" ng-class="formatNumberOfLeads(carac).color">{{formatNumberOfLeads(carac).variation}}</span>
            <span class="nominal">{{formatNumberOfLeads(carac).nominal}}</span>
          </div>
        </div>
      </div>

      <div class="legend">
      {{widget.content.number_of_leads.total[1]}} {{'impac.widget.sales_number_of_leads.leads_in_total' | translate}}
      </div>
    </div>

    <div ng-show="widget.demoData" common-data-not-found />
  </div>

</div>
