<div widget-hr-workforce-summary>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div align="center" ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)" class="row">
      <div ng-class="widget.isExpanded() ? 'col-md-6' : 'col-md-12'">
        <div setting-width parent-widget="widget" min="3" max="6" class="settings width" deferred="::widthDeferred" />

        <h3 class="left">Total Estimated Earnings</h3>
        <div class="price">
           {{getTotalWorkforce() | mnoCurrency : getCurrency()}}
        </div>
        <div class="currency" setting-param-selector parent-widget="widget" param="period" options="periodOptions" selected="period" deferred="::paramSelectorDeferred1"/>
        <div class="legend">
          <span>({{getNumberOfEmployees()}} employee{{getNumberOfEmployees() > 1 ? 's' : null}} with known salary)</span>
        </div>
      </div>

      <div class="right-panel" ng-class="{'col-md-12': !widget.isExpanded(), 'col-md-6': widget.isExpanded()}">
        <h3 class="right">Filter: <span setting-param-selector parent-widget="widget" param="filter" options="filterOptions" selected="filter" deferred="::paramSelectorDeferred2"/></h3>
        <div class="chart-container">
          <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
        </div>
        <div class="widget-lines-container">
          <div class="row widget-line" ng-repeat="data in widget.content.summary.data">
            <div class="col-xs-2">
              <i class="fa fa-circle" style="color: {{getColorByIndex($index)}}" />
            </div>
            <div class="col-xs-7">
              {{widget.content.summary.filter == "salary_range" ? formatSalaryRange(data) : data.label}}
            </div>
            <div class="col-xs-3 text-right">
              <i>{{((data.value / widget.content.total.amount)*100).toFixed()}}%</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="(isDataFound==false)" common-data-not-found endpoint="::widget.category" width="::widget.width"/>
  </div>

</div>
