.analytics .widget-item .content.accounts-assets-liability-summary {
  .param-selector {
    text-align: center;
  }
  .legend {
    text-align: left;
    max-height: 90px !important;

    .title {
      text-align: center;
      border-bottom: dashed 1px @impac-widget-borders-color;
    }
  }
  p {
    font-weight: bold;
  }
}
