dashboard-templates-selector {
  .templates-header {
    display: flex;
    .templates-toggle {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      font-size: 20px;
      i.fa {
        cursor: pointer;
        &.fa-toggle-on {
          color: @impac-widget-link-color;
        }
      }
    }
  }
  .templates {
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 1px 0px #ccc;
    height: 130px;
    overflow: auto;
    border-radius: 2px;

    .template {
      padding: 5px 10px;
      color: @impac-widget-text-color;
      border-bottom: 1px solid #ececec;
      &:hover {
        cursor: pointer;
        background-color: lighten(@impac-dashboard-templates-selected-background-color, 20%);
      }
      &.selected {
        background-color: @impac-dashboard-templates-selected-background-color;
      }
    }
  }
}
