<div class="modal-header">
  <div class="close" type="button" ng-click="close()" >×</div>
  <h3>Create New Dashboard</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-error" ng-show="errors">
        <button class="close" ng-click="errors=''">×</button>
        <ul>
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Create a new dashboard -->
  <div class="row dashboard-form">
    <div class="col-sm-10 col-sm-offset-1">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type='text' class="form-control" ng-model="model.name" placeholder="E.g: Cash Accounts Monitoring" required>
          </div>
        </div>
    
        <div class="form-group" ng-show="isMultiCompanyAvailable()">
          <label class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <div class="btn-group" role="group">
              <button type="button" ng-click="selectMode('single')" ng-class="btnBlassFor('single')">Current Company</button>
              <button type="button" ng-click="selectMode('multi')" ng-class="btnBlassFor('multi')">Multi Company</button>
            </div>
          </div>
        </div>
        
        <!-- Single Company mode -->
        <div class="form-group" ng-show="isCurrentOrganizationShown()">
          <div ng-show="!canAccessAnalyticsForCurrentOrganization()" class="text-center text-purple">
            <div class="spacer1"></div>
            <p>
              Oops! Only Admins and Super Admins can create dashboards for company {{currentOrganization.name}}.
              <span ng-show="isMultiCompanyAvailable()">Please select a "Multi Company" dashboard to select data from other companies.</span>
            </p>
          </div>
        </div>
        
        <!-- Multi Company mode -->
        <div class="form-group" ng-show="isSelectOrganizationShown()">
          <label class="col-sm-2 control-label">Companies</label>
          <div class="col-sm-10">
            <ul class="list-unstyled">
              <li ng-repeat="organization in organizations" >
                <input type="checkbox" ng-model="organization.$selected" ng-disabled="!canAccessAnalyticsData(organization)"> 
                {{organization.name}} 
                <span ng-show="organization.is_customer_account">(customer)</span>
                <span ng-show="!canAccessAnalyticsData(organization)">
                  <em><small>
                    &nbsp;
                    &nbsp;
                    <i class="fa fa-exclamation-circle text-danger" tooltip="Only Admins and Super Admins can access analytics data for this company"></i>
                  </small></em>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </form>
      
      <!-- End row col -->
    </div>
    
    <!-- End Dashboard form -->
  </div>
  
  
  
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-shaded" ng-click="close()" ng-hide="isLoading" ng-disabled="isLoading">Cancel</button>
      <button class="btn btn-info" ng-click="proceed()" ng-hide="isLoading" ng-disabled="proceedDisabled()">Add</button>
      <img ng-src="{{loadingGif}}" ng-show="isLoading" alt="Loading">
    </div>
  </div>
</div>