<!-- DASHBOARD -->
<div class="analytics" ng-hide="(isLoading || forceLoad || failedDashboardLoad)" ng-class="{'hide-dhb': (isLoading || forceLoad), 'show-dhb': !(isLoading || forceLoad), 'pdf-mode': pdfMode }">
  <div mno-star-wizard=true modal-open='starWizardModal.value'></div>

  <!-- Title and Dashboard selection -->
  <div class="row" id="dashboard-heading" ng-if="showDhbHeading">
    <div class="col-xs-12">
      <img ng-src="{{impacTitleLogo}}" ng-click="!pdfMode || triggerUpload()" ng-class="{'pdf-mode': pdfMode}" />
      <br />
      <button class="btn btn-sm btn-default hidden-print" ng-click="triggerUpload()" ng-if="pdfMode" translate>impac.dashboard.change_logo</button>
      <input type="file" style="display:none" id="fileInput" name="filedata"/>
    </div>

    <div class="col-xs-12">
      <div class="caption">{{dhbHeadingText}}</div>
    </div>
  </div>

  <!-- Impac KPI's -->
  <kpis-bar ng-if="showKpisBar()" kpis="currentDhb.kpis"></kpis-bar>

  <!-- Dashboards selection/creation/deletion -->
  <dashboard-selector id="module__dashboard-selector" is-widget-selector-shown="showWidgetSelector()" on-create-dashboard="createDashboardModal.open()" on-display-widget-selector="displayWidgetSelector()" on-select-dashboard="activateTimer()" pdf-mode="pdfMode"></dashboard-selector>

  <div id="sub-menu" uib-collapse="!showSubMenu">
    <i class="fa fa-times" ng-click="hideSubMenu()" />

    <!-- Displayed to MYOB Essentials Users -->
    <div id="myob-message" ng-if="hasMyobEssentialsOnly && myobMessageConfig.show" class="alert alert-warning">
      <h3 translate>impac.dashboard.it_looks_like</h3>
      <p translate="impac.dashboard.unfortunately_information"></p>
      <p>{{'impac.dashboard.myob_message.part_1' | translate}} <a href="http://myob.com.au/products/small-business/accounting-software/myob-accountright-1422735752948" target="_blank">{{'impac.dashboard.myob_message.part_2' | translate}}</a> {{'impac.dashboard.myob_message.part_3' | translate}}</p>
      <p align="right" ng-if="myobMessageConfig.appLink.show"><a ng-href="{{myobMessageConfig.appLink.url}}" target="_blank" translate>{{myobMessageConfig.appLink.text}}</a></p>
    </div>
  </div>

  <!-- Widgets selection container -->
  <div id="widget-selector" uib-collapse="!showWidgetSelector()" ng-if="!customWidgetSelector.path">
    <div class="title">
      <p translate>impac.dashboard.select_the_widgets</p>
      <span class="badge confirmation" translate>impac.dashboard.widget_added</span>
      <i class="fa fa-times-circle" ng-if="showCloseWidgetSelectorButton()" ng-click="displayWidgetSelector(false)"/>
    </div>

    <div class="row top-container">
      <div class="col-md-3 categories">
        <div class="row header" translate>impac.dashboard.all_categories</div>
        <div class="row lines">
          <div class="col-md-12 categories_menu-items">
            <p ng-click="selectCategory('accounts')" ng-class="isCategorySelected('accounts') ? 'selected' : none" translate>impac.dashboard.accounting</p>
            <p ng-click="selectCategory('invoices')" ng-class="isCategorySelected('invoices') ? 'selected' : none" translate>impac.dashboard.invoicing</p>
            <p ng-click="selectCategory('hr')" ng-class="isCategorySelected('hr') ? 'selected' : none" translate>impac.dashboard.hr_or_payroll</p>
            <p ng-click="selectCategory('sales')" ng-class="isCategorySelected('sales') ? 'selected' : none" translate>impac.dashboard.sales</p>
          </div>
        </div>

        <div class="arrow" ng-style="getSelectedCategoryTop()">
          <div class="square"></div>
          <i class="fa fa-caret-right"></i>
        </div>

      </div>

      <div class="col-md-9 widgets">
        <div class="row header">
          {{getSelectedCategoryName() | titleize}}
        </div>
        <div class="row lines">
          <div class="col-md-4 widgets_widget-item" ng-repeat="widgetTemplate in getWidgetsForSelectedCategory()" ng-click="addWidget(widgetTemplate)" uib-tooltip="{{widgetTemplate.desc}}" tooltip-placement="{{$index < 9 ? 'bottom' : 'top'}}" tooltip-animation="false"  tooltip-append-to-body="true" tooltip-class="impac-widget-selector-tooltip">
            <i class="fa fa-{{widgetTemplate.icon}}" />
            <p class="widgets_widget-item_text" ng-bind="widgetTemplate.name"></p>
            <i class="fa fa-plus-circle" />
          </div>
        </div>
      </div>
    </div>

    <div class="bottom" ng-if="widgetSuggestionModal.config.apiPath">
      <span class="suggestion">
        {{'impac.dashboard.can_not_find' | translate}} <a ng-click="widgetSuggestionModal.open()">{{'impac.dashboard.give_us' | translate}}</a>
      </span>
    </div>
  </div>

  <!-- custom widget selector template configured from ImpacThemingProvider -->
  <div id="custom-widget-selector" ng-if="customWidgetSelector.path" ng-include="customWidgetSelector.path" ng-hide="showChooseDhbMsg()"></div>

  <!-- Dashboard Settings - DEFAULT POSITION -->
  <div id="dashboard-settings-panel" ng-if="!dhbSettingsConfig.inWidgetsContainer && !showChooseDhbMsg()" class="row" ng-hide="pdfMode">
    <div class="col-xs-12">
      <div dashboard-setting-sync-apps ng-if="dhbSettingsConfig.syncApps.show()"/>
      <div dashboard-setting-currency currency="currentDhb.currency" />
    </div>
  </div>

  <!-- Errors -->
  <div class="alert alert-error" ng-show="errors">
    <button class="close" ng-click="errors=''">×</button>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>

  <div id="no-widgets-container" class="row text-center ng-hide" ng-show='(showChooseDhbMsg() || showNoWidgetsMsg())'>

    <img ng-src="{{impacDashboardBackground}}" class="bg">

    <div class="impac-info-message">
      <!-- First Time Dashboard Creation -->
      <div class="ng-hide" ng-show='showChooseDhbMsg()'>
        <div class='hidden-xs'>
          <div class="row top-buffer-4">
            <div class="col-md-8 col-md-offset-2">
              <div class="info-text">
                <p><b translate>{{dhbErrorsConfig.firstTimeCreated.first}}</b></p>
                <p translate>{{dhbErrorsConfig.firstTimeCreated.second}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="align-center top-buffer-2">
          <button ng-click="createDashboardModal.open()" class='btn btn-lg btn-warning'><span class='fa fa-plus'></span> {{'impac.dashboard.create_a_dashboard' | translate}}</button>
        </div>
      </div>

      <!-- Empty Dashboard -->
      <div class="ng-hide" ng-show='showNoWidgetsMsg()'>
        <div class='hidden-xs'>
          <div class="row top-buffer-4">
            <div class="col-md-8 col-md-offset-2">
              <div class="info-text">
                <p><b translate>{{dhbErrorsConfig.empty.first}}</b></p>
                <p translate>{{dhbErrorsConfig.empty.second}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="align-center top-buffer-2">
          <button ng-disabled="showWidgetSelector()" ng-click="displayWidgetSelector()" class='btn btn-lg btn-warning'><span class='fa fa-plus'></span> {{'impac.dashboard.add_new_widget' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- First Time Dashboard Creation -->
  <div class="row text-center" ng-show='showChooseDhbMsg()'>
    <img class="bg" ng-src="{{impacDashboardBackground}}">
    <div class="spacer2 hidden-xs"></div>
    <div class='col-md-8 col-md-offset-2'>
      <p class="text-muted"><small><em translate>{{dhbErrorsConfig.firstTimeCreated.note}}</em></small></p>
    </div>
  </div>

  <!-- Widgets -->
  <div class='row' id="widgets-section" ng-hide="showNoWidgetsMsg() || showChooseDhbMsg()">
    <!-- Dashboard Settings - CONFIGURED INSIDE WIDGETS-CONTAINER -->
    <div id="dashboard-settings-panel" ng-if="dhbSettingsConfig.inWidgetsContainer && !showChooseDhbMsg()" class="col-md-12 in-widgets-container">
      <div>
        <div dashboard-setting-sync-apps ng-if="dhbSettingsConfig.syncApps.show()"/>
        <div dashboard-setting-currency currency="currentDhb.currency" />
      </div>
    </div>
    <div class="col-md-12">
      <div id="widgets-container" ui-sortable="sortableOptions" ng-model="currentDhb.widgets" class="row">
        <!-- Widgets -->
        <div impac-widget widget="widget" is-accessibility="accessibility" parent-dashboard="currentDhb" ng-repeat="widget in currentDhb.widgets" class="widget-item" ng-class="widget.getCssClasses()" on-display-alerts="displaySubMenu()" />
        <!-- Add Widget Tile, enabled & customised in ImpacThemingProvider -->
        <div ng-if="isAddChartEnabled" class="unsortable" ng-click="addChartTileOnClick()">
          <div class="col-md-6 widget-item add-chart">
            <div class="a-content" translate>impac.dashboard.plus_chart</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="analytics" ng-show="(isLoading || forceLoad)">
  <div class="row">
    <div class="col-md-12 loader-container text-center" style="margin-top: 200px;">
      <i class="fa fa-refresh fa-spin" style="font-size: 250px; opacity: 0.7;"/>
    </div>
  </div>
</div>

<div class="analytics load-failed" ng-show="!isLoading && failedDashboardLoad">
  <div class="row">
    <div class="col-md-12 text-center" style="margin-top: 200px;">
      <p translate>{{dhbErrorsConfig.failed.first}}</p>
      <div class="second-msg" ng-if="displaySecondMsg">
        <p translate>{{dhbErrorsConfig.failed.second}}</p>
      </div>
      <a href="" ng-click="reloadDashboard()">
        <button type="button" class="btn btn-default" translate>impac.dashboard.refresh</button>
      </a>
    </div>
  </div>
</div>
