<div class="modal-header">
  <div class="close" type="button" ng-click="instance.close()" >×</div>
  <h3 translate>impac.dashboard.widget_suggestion.suggest_a_widget</h3>
</div>

<div class="modal-body">

  <div class="row">
    <div class="col-md-6">
      <label translate>impac.dashboard.widget_suggestion.widget_name</label><br />
      <input type="text" ng-model="widgetDetails.name" ng-disabled="isLoading" />
    </div>
    <div class="col-md-6">
      <label>In which category?</label><br />
      <input type="text" ng-model="widgetDetails.category" ng-disabled="isLoading" />
    </div>
  </div>

  <div class="spacer1" />

  <div class="row">
    <div class="col-md-12">
      <label translate>impac.dashboard.widget_suggestion.kind_of_information</label><br/>
      <textarea ng-model="widgetDetails.description" ng-disabled="isLoading" />
    </div>
  </div>

  <div class="spacer1" ng-show="isLoading" />

  <div class="row" uib-collapse="!onSuccess">
    <div class="col-md-12 text-center">
      <h3 class="thanks-message">{{userName | titleize}}, <span translate="impac.dashboard.widget_suggestion.helping"></span></h3>
    </div>
  </div>

  <div class="row" ng-show="error">
    <div class="col-md-12 text-center">
      <h5 style="color: red;" translate>impac.dashboard.widget_suggestion.unable_to_send</h5>
    </div>
  </div>

</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-shaded" ng-click="instance.dismiss()" ng-hide="isLoading" translate>impac.dashboard.widget_suggestion.cancel</button>
      <button class="btn btn-info" ng-click="proceed()" ng-disabled="!(widgetDetails.name && widgetDetails.category && widgetDetails.description) || isLoading">
        <i class="fa fa-spinner fa-pulse loader" ng-show="isLoading"></i>
        {{'impac.dashboard.widget_suggestion.send_your_suggestion' | translate}}
      </button>
    </div>
  </div>
</div>
