<h5>{{formattedParam | titleize}}</h5>
<div class="settings params-picker">
  <div style="margin-bottom: 8px;">
    The selected criteria will be displayed in this order (drag/drop to modify):
  </div>
  <div ui:sortable="sortableOptions" ng-model="options" class="input-group">
    <span ng-repeat="parameter in options track by $index" class="parameter" ng-class="!parameter.selected ? 'unchecked' : ''">
      <span class="badge">{{$index + 1}}</span>
      {{parameter.label | titleize}}
      <input type="checkbox" ng-model="parameter.selected" />
    </span>
  </div>
  <div ng-show="hasReach">
    <label><strong>Apply to all similar widgets</strong> <input type="checkbox" ng-change="toggleReach()" ng-model="applyToDashboard"></label>
  </div>
</div>
