<div widget-accounts-balance-sheet>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.account_balance_sheets.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.account_balance_sheets.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.account_balance_sheets.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div class="no-data-block" ng-show="(isDataFound==false)" translate="impac.widget.account_balance_sheets.not_found" translate-values="{fromDate: fromDate, toDate: toDate}"></div>

    <!-- Tab header -->
    <!-- TODO: review widget-lines-container scrolling -->
    <div class="widget-lines-container no-scroll">
      <div class="row widget-line header">
        <div class="col-sm-6 col-sm-offset-6 col-xs-12">
          <div setting-dates-picker parent-widget="widget" deferred="::datesPickerDeferred" from="fromDate" to="toDate" keep-today="keepToday" update-on-pick="true" template="::datesPickerTemplate" />
        </div>
      </div>
      <div class="row widget-line header">
<!--         <div class="col-sm-6 col-xs-12 col-xs-offset-1 text-left sortable-title" ng-click="sort('account')">
          Account
          <i ng-show="sortedColumn == 'account'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
        </div> -->
        <div class="col-sm-5 col-sm-offset-1 col-xs-12 text-left sortable-title" ng-click="sort('account')">
          {{'impac.widget.account_balance_sheets.accounts' | translate}}
          <i ng-show="sortedColumn == 'account'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-xs-6 text-center sortable-title" ng-click="sort('total1')">
              {{'impac.widget.account_balance_sheets.balance' | translate}}
              <i ng-show="sortedColumn == 'total1'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
            </div>
            <div class="col-xs-6 text-center sortable-title" ng-click="sort('total2')">
              {{'impac.widget.account_balance_sheets.balance' | translate}}
              <i ng-show="sortedColumn == 'total2'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
            </div>
          </div>

<!--           <div class="col-sm-2 col-xs-4 text-right sortable-title" ng-click="sort('total1')">
            Total
            <i ng-show="sortedColumn == 'total1'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
          </div>
          <div class="col-sm-2 col-xs-4 col-xs-offset-1 text-right sortable-title" ng-click="sort('total2')">
            Total
            <i ng-show="sortedColumn == 'total2'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
          </div> -->
        </div>
      </div>
    </div>

    <div ng-show="(isDataFound==true)" class="widget-lines-container">

      <!-- Groups of statements with their accounts -->
      <div class="row lines-group" ng-repeat="category in categories" >
        <div class="col-xs-12">

          <!-- Statements lines -->
          <div class="row widget-line" >
            <div class="col-xs-1" ng-click="toggleCollapsed(category)" style="cursor: pointer;">
              <i class="fa" ng-class="isCollapsed(category) ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
            </div>
            <div class="col-sm-5 col-xs-11 text-left">
              <strong>{{category.label}}</strong>
            </div>
            <div class="col-sm-3 col-xs-6 text-right">
              <strong>{{widget.content.summary[category.key].totals[1] | mnoCurrency : widget.content.summary[category.key].currency}}</strong>
            </div>
            <div class="col-sm-3 col-xs-6 text-right">
              <strong>{{widget.content.summary[category.key].totals[0] | mnoCurrency : widget.content.summary[category.key].currency}}</strong>
            </div>
          </div>

          <!-- Accounts lines -->
          <div class="row" collapse="isCollapsed(category)">
            <div class="col-xs-12">
              <div class="row widget-line" ng-repeat="account in widget.content.summary[category.key].accounts" >
                <div class="col-sm-5 col-xs-11 col-xs-offset-1 text-left">
                  {{account.name | titleize}}
                </div>
                <div class="col-sm-3 col-xs-6 text-right">
                  {{account.totals[1] | mnoCurrency : account.currency}}
                </div>
                <div class="col-sm-3 col-xs-6 text-right">
                  {{account.totals[0] | mnoCurrency : account.currency}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
