.analytics .widget-item .content.accounts-balance-sheet {
  .tall-widget();
  .widget-lines-container {
    .scrollable(scroll);
    max-height: 490px;
    @media (max-width: @screen-xs-max) {
      .row.widget-line {
        &:not(:last-child) { border-bottom: dashed 1px @impac-widget-borders-color; }
      }
    }
    .row.widget-line.header > [class*='col-'] { position: static; }

    &.no-scroll {
      overflow: visible;
    }
  }

  .no-data-block {
    .center-thin();
    margin: 15px 0px;
  }
}
