<div widget-accounts-balance-sheet>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div class="no-data-block" ng-show="(isDataFound==false)">
      No balance sheet can be generated between this {{period.label.toLowerCase()}} and the previous {{period.label.toLowerCase()}}. <br />
      Maybe try selecting a longer period? <br />
      <span setting-param-selector parent-widget="widget" param="period" options="periodOptions" selected="period" deferred="::paramSelectorFrontDeferred" />
    </div>

    <div ng-show="(isDataFound==true)" class="widget-lines-container">
      <!-- Tab header -->
      <div class="row widget-line header">
        <div class="col-sm-6 col-xs-12 text-left">Compare with previous: <span setting-param-selector parent-widget="widget" param="period" options="periodOptions" selected="period" deferred="::paramSelectorBackDeferred" /></div>
        <div class="col-sm-3 col-xs-6 text-right">{{widget.content.dates[0] | mnoDate : widget.metadata.period}}</div>
        <div class="col-sm-3 col-xs-6 text-right">{{widget.content.dates[1] | mnoDate : widget.metadata.period}}</div>
      </div>
     
      <!-- Groups of statements with their accounts -->
      <div class="row lines-group" ng-repeat="category in categories" >
        <div class="col-xs-12">

          <!-- Statements lines -->
          <div class="row widget-line" >
            <div class="col-xs-1" ng-click="toggleCollapsed(category)" style="cursor: pointer;">
              <i class="fa" ng-class="isCollapsed(category) ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
            </div>
            <div class="col-sm-5 col-xs-11 text-left">
              <strong>{{category | titleize}}</strong>
            </div>
            <div class="col-sm-3 col-xs-6 text-right">
              <strong>{{widget.content.summary[category].totals[0] | mnoCurrency : widget.content.summary[category].currency}}</strong>
            </div>
            <div class="col-sm-3 col-xs-6 text-right">
              <strong>{{widget.content.summary[category].totals[1] | mnoCurrency : widget.content.summary[category].currency}}</strong>
            </div>
          </div>

          <!-- Accounts lines -->
          <div class="row" collapse="isCollapsed(category)">
            <div class="col-xs-12">
              <div class="row widget-line" ng-repeat="account in widget.content.summary[category].accounts" >
                <div class="col-sm-5 col-xs-11 col-xs-offset-1 text-left">
                  {{account.name | titleize}}
                </div>
                <div class="col-sm-3 col-xs-6 text-right">
                  {{account.totals[0] | mnoCurrency : account.currency}}
                </div>
                <div class="col-sm-3 col-xs-6 text-right">
                  {{account.totals[1] | mnoCurrency : account.currency}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
