<div widget-hr-salaries-summary>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.hr_salaries_summary.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.hr_salaries_summary.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.hr_salaries_summary.save</button>
    </div>
  </div>

  <div align="center" ng-hide="widget.isEditMode">

    <div class="row">
      <div ng-class="widget.isExpanded() ? 'col-md-6' : 'col-md-12'">
        <div setting-width parent-widget="widget" min="3" max="6" class="settings width" deferred="::widthDeferred" />

        <h3 class="left" translate>impac.widget.hr_salaries_summary.average_rate</h3>
        <div class="price">
           {{widget.content.total.average_rate | mnoCurrency : widget.content.total.currency}}
        </div>
        <div class="currency" setting-param-selector parent-widget="widget" param="period" options="periodOptions" selected="period" deferred="::paramSelectorDeferred1"/>
        <div class="legend">
          <span>({{widget.content.total.employees}} <span translate="impac.widget.hr_salaries_summary.legend.employee" translate-values="{num_employee: widget.content.total.employees}"></span> {{'impac.widget.hr_salaries_summary.legend.with' | translate}})</span>
        </div>
      </div>

      <div class="right-panel" ng-class="{'col-md-12': !widget.isExpanded(), 'col-md-6': widget.isExpanded()}">
        <h3 class="right">{{'impac.widget.hr_salaries_summary.filter' | translate}} <span setting-param-selector parent-widget="widget" param="filter" options="filterOptions" selected="filter" deferred="::paramSelectorDeferred2"/></h3>
        <div class="chart-container">
          <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
        </div>
        <div class="widget-lines-container">
          <div class="row widget-line" ng-repeat="data in widget.content.summary.data">
            <div class="col-xs-2">
              <i ng-hide="widget.content.summary.filter=='age_range'" class="fa fa-circle" ng-style="{ 'color': getColorByIndex($index) }" />
            </div>
            <div class="col-xs-5">
              {{data.label}}
            </div>
            <div class="col-xs-5 text-right">
              <i>{{data.value | mnoCurrency : widget.content.total.currency}} (av.)</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="widget.demoData" common-data-not-found />
  </div>

</div>
