<div widget-accounts-custom-calculation>

  <div setting-organizations parent-widget="widget" ng-hide="true" deferred="::orgDeferred" />
  <div setting-accounts-list parent-widget="widget" deferred="::accountsListDeferred" />
  <div setting-formula parent-widget="widget" deferred="::formulaDeferred" />

  <h3 ng-show="widget.hasEditAbility && !widget.isFormulaCorrect">
    <a href="" ng-click="formulaModal.open()">Create a custom calculation</a>
  </h3>

  <div setting-hist-mode parent-widget="widget" deferred="::histModeDeferred" on-toggle="widget.format()" accounting-behaviour="pnl" />
  <div class="chart-container" ng-show="widget.isHistoryMode && widget.isFormulaCorrect">
    <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
  </div>

  <div class="price" ng-show="!widget.isHistoryMode && widget.isFormulaCorrect">
    {{widget.evaluatedFormula}}
  </div>
  <div class="legend" ng-show="widget.isFormulaCorrect">
    {{widget.legend}}
  </div>

</div>
