<div class="analytics modal-custom-calculation">
  <div class="modal-header">
    <div class="close" type="button" ng-click="cancel()" >×</div>
    <h3 translate>impac.widget.account_cust_calc.formula.title</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-error" ng-show="errors">
          <button class="close" ng-click="errors=''">×</button>
          <ul>
            <li ng-repeat="error in errors">{{error}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="edit row">
      <div setting-organizations parent-widget="widget" class="part col-md-6" deferred="::modalOrgDeferred" on-select="reloadAccountsLists(orgs)" />
      <div setting-time-period parent-widget="widget" class="part col-md-6" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" hide-chart-interval="true" apply-changes-callback="updateWidgetSettings()" />
    </div>

    <p translate="impac.widget.account_cust_calc.formula.explanations" translate-values="{example: '({1} + {2}) / {3})' }"></p>

    <div class='row'>
      <div ng-show="widget.isLoading" class='col-md-6 loader' align="center">
        <div>
          <i class="fa fa-spinner fa-pulse fa-3x"></i>
          <p translate>impac.widget.account_cust_calc.formula.data_retrieved</p>
        </div>
      </div>

      <div ng-hide="widget.isLoading" class='col-md-6'>
        <div class='widget-line' ng-repeat='account in widget.selectedAccounts track by $index'>
          <div class='row'>
            <div class='col-md-6'>
              {{$index+1}} - {{account.name}}
            </div>
            <div class='col-md-6'>
              {{account.current_balance | mnoCurrency : account.currency}}
              <button class="close" ng-click="removeAccountFromFormula(account)"><span class='fa fa-times-circle'></span></button>
            </div>
          </div>
        </div>

        <div class='input-group'>
          <select ng-model="movedAccount" ng-options="account.name + ' (' + widget.formatAmount(account) + ')' group by account.classification for account in widget.remainingAccounts" class='form-control' ng-change='addAccountToFormula(movedAccount)'><select>
        </div>
      </div>

      <div ng-hide="widget.isLoading" class='col-md-6'>
        <p translate>impac.widget.account_cust_calc.formula.type_here</p>
        <input class='form-control' ng-model="widget.formula">

        <p translate="impac.widget.account_cust_calc.formula.result" translate-values="{result: widget.evaluatedFormula}"></p>
        <p translate="impac.widget.account_cust_calc.formula.legend" translate-values="{legend: widget.legend}"></p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-gray" ng-click="cancel()" ng-hide="widget.isLoading" ng-disabled="isLoading" translate>impac.widget.account_cust_calc.formula.cancel</button>
        <button class="btn btn-warning" ng-click="proceed()" ng-hide="widget.isLoading" ng-disabled='!widget.isFormulaCorrect || widget.isLoading'>
          <i class="fa fa-spinner fa-pulse loader" ng-show="isLoading"></i>
          {{'impac.widget.account_cust_calc.formula.save' | translate}}
        </button>
      </div>

    </div>
  </div>
</div>
