<div widget-accounts-class-comparison>

  <div ng-show="widget.isEditMode" class="edit">
    <h4 translate>impac.widget.account_class_comp.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.account_class_comp.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.account_class_comp.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)">
      <!-- account classification selectors -->
      <div setting-param-selector parent-widget="widget" param="classification" options="classifications" selected="selectedClassification" class="row param-selector" deferred="::paramSelectorDeferred" on-select="widget.format()" no-reload/>
      <!---->
      <div class="row">
        <div class="col-md-12 chart-container">
          <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 widget-lines-container">
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-xs-12">
              <div common-time-period-info context="forwardParams" />
            </div>
          </div>

          <div class="row" ng-repeat="entity in widget.content.companies track by $index">
            <div class="col-xs-6 text-left">
              <i class="fa fa-circle" style="margin: 0px 8px; color: {{getAccountColor(entity)}}" />
              {{entity}}
            </div>
            <div class="col-xs-6 text-right">
              <i>{{getAmount($index)}}</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" widget-engine="::widget.category" />
  </div>

</div>
