<div class="settings organizations">
  <h5 translate>impac.widget.settings.organizations.select_companies</h5>

  <div class="widget-lines-container">
    <div class="widget-line" ng-repeat="org in dashboardOrganizations">
      {{org.label}}
      <i ng-show="organizationMode == 'multiple'" ng-class="isOrganizationSelected(org.uid) ? 'fa fa-toggle-on' : 'fa fa-toggle-off'" ng-click="toggleSelectOrganization(org.uid)" uib-tooltip="{{isOrganizationSelected(org.uid) ? 'disable' : 'enable'}}" tooltip-append-to-body="true" />

      <i ng-show="organizationMode == 'single'" ng-class="isOrganizationSelected(org.uid) ? 'fa fa-check-circle' : 'fa fa-circle-thin'" ng-click="toggleSelectOrganization(org.uid)" />
    </div>
  </div>
</div>
