<div widget-accounts-expenses-revenue>

  <div ng-show="widget.isEditMode" class="edit">
    <h4 translate>impac.widget.account_expenses_revenue.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.account_expenses_revenue.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.account_expenses_revenue.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div ng-show="(isDataFound==true)">
      <div setting-hist-mode parent-widget="widget" deferred="::histModeDeferred" on-toggle="widget.format()" accounting-behaviour="pnl" />

      <div class="chart-container">
        <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
      </div>

      <div class="legend" ng-if="widget.isHistoryMode">
        <span ng-hide="isNetProfitDisplayed">
          <span class="negative2" translate>impac.widget.account_expenses_revenue.expenses</span> -
          <span class="positive2" translate>impac.widget.account_expenses_revenue.revenue</span>
        </span>
        <span ng-show="isNetProfitDisplayed">
          <strong translate>impac.widget.account_expenses_revenue.net_profit</strong>
        </span>
      </div>

      <div ng-show="widget.isHistoryMode" setting-params-checkboxes options="displayOptions" param="display" parent-widget="widget" deferred="::paramsCheckboxesDeferred"/>

      <div class="legend" ng-if="!widget.isHistoryMode">
        <span class="negative2" translate>impac.widget.account_expenses_revenue.expenses</span>
        <span class="negative2">: {{getCurrentExpenses() | mnoCurrency : getCurrency()}}</span>
        </br>
        <span class="positive2" translate>impac.widget.account_expenses_revenue.revenue</span>
        <span class="positive2">: {{getCurrentRevenue() | mnoCurrency : getCurrency()}}</span>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" widget-engine="::widget.category" />
  </div>

</div>
