.analytics .widget-item .content.invoices-list {
  .widget-lines-container {
    max-height: 230px;
  }
  .widget-lines-container .widget-line {
    cursor: default;
    .alternate-bg();

    &.header {
      background-color: white;
    }
  }
}