<div widget-invoices-list class="invoices-list">

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" />

    <div align="right">
      <button class="btn btn-default" ng-click="widget.initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="widget.updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">
    <div class="widget-line">
      <div class="row table-header" ng-show="widget.width > 3">
        <div class="col-sm-4">{{entityTypeCap}}</div>
        <div class="col-sm-8">
          <div class="col-xs-4">Paid</div>
          <div class="col-xs-4">Due</div>
          <div class="col-xs-4">Invoiced</div>
        </div>
      </div>
      <div class="row table-header" ng-hide="widget.width > 3">
        <div class="col-xs-7">{{entityTypeCap}}</div>
        <div class="col-xs-4" ng-show="orderBy == 'paid '">Paid</div>
        <div class="col-xs-4" ng-show="orderBy == 'due '">Due</div>
        <div class="col-xs-4" ng-hide="orderBy == 'paid ' || orderBy == 'due '">Invoiced</div>
      </div>
    </div>
    <div class="widget-lines-container">
      <div class="widget-line" ng-hide="isDataFound">
        <div>
          <div class="row">
            <div class="col-xs-11">No {{orderBy}}invoice found for your {{entityType}}</div>
          </div>
        </div>
      </div>
      <div class="widget-line" ng-show="isDataFound" ng-repeat="entity in widget.content.entities" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-html-unsafe="{{getInvoices(entity)}}" tooltip-animation="false">
        <div class="row">
          <div ng-show="widget.width > 3">
            <div class="col-sm-4">{{entity.name}}</div>
            <div class="col-sm-8">
              <div class="col-xs-4"><i>{{entity.total_paid | mnoCurrency : entity.currency}}</i></div>
              <div class="col-xs-4"><i>{{entity.total_due | mnoCurrency : entity.currency}}</i></div>
              <div class="col-xs-4"><i>{{entity.total_invoiced | mnoCurrency : entity.currency}}</i></div>
            </div>
          </div>
        <div ng-hide="widget.width > 3">
          <div class="col-xs-7">{{entity.name}}</div>
          <div class="col-xs-4" ng-show="orderBy == 'paid '"><i>{{entity.total_paid | mnoCurrency : entity.currency}}</i></div>
          <div class="col-xs-4" ng-show="orderBy == 'due '"><i>{{entity.total_due | mnoCurrency : entity.currency}}</i></div>
          <div class="col-xs-4" ng-hide="orderBy == 'paid' || orderBy == 'due '"><i>{{entity.total_invoiced | mnoCurrency : entity.currency}}</i></div>
        </div>
      </div>
    </div>
  </div>

</div>
