<div widget-accounts-comparison>
  <div setting-accounts-list parent-widget="widget" deferred="::accountsListDeferred"/>

  <div ng-show="widget.isEditMode" class="edit">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)">
      <!-- multi-companies mode -->
      <div ng-show="widget.metadata.organization_ids.length > 1 && canSelectComparisonMode || isComparisonMode()">
        <div setting-params-checkboxes options="comparisonModeOptions" param="comparison_mode" parent-widget="widget" deferred="::paramsCheckboxesDeferred"/>
      </div>
      <!-- end -->
      <div ng-hide="hasAccountsSelected() || noComparableAccounts" class="row">
        <h5>Select the accounts you wish to compare.</h5>
        <div class="col-md-6">
          <div class="input-group">
            <select ng-model="movedAccount" ng-options="account.name + ' (' + formatAmount(account) + ')' for account in widget.remainingAccounts" class="form-control" ng-show="widget.hasEditAbility" ng-change="addAccount(movedAccount)"></select>
          </div>
        </div>
      </div>
      <!-- error: when there are no comparable accounts matched -->
      <div ng-show="isComparisonMode() && noComparableAccounts" class="row comparable-error">
        <h5>No comparable accounts found.</h5>
      </div>

      <div ng-show="hasAccountsSelected()">
        <div class="row">
          <div class="col-md-12 chart-container">
            <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="widget-lines-container">
              <div class="widget-line" ng-repeat="account in widget.selectedAccounts track by $index">
                <div ng-if="isComparisonMode()" ng-repeat="groupedAccount in account.accounts track by $index">
                  <button class="close" ng-click="removeAccount(account)" ng-show="widget.hasDeleteAbility">
                    x
                  </button>
                  <i style="float: right; margin-right: 10px;">{{formatAmount(groupedAccount)}}</i>
                  <i class="fa fa-circle" style="margin: 0px 8px; color: {{getAccountColor(groupedAccount)}}" />
                  {{groupedAccount.name}}
                </div>
                <div ng-if="!isComparisonMode()">
                  <button class="close" ng-click="removeAccount(account)" ng-show="widget.hasDeleteAbility">
                    x
                  </button>
                  <i style="float: right; margin-right: 10px;">{{formatAmount(account)}}</i>
                  <i class="fa fa-circle" style="margin: 0px 8px; color: {{getAccountColor(account)}}" />
                  {{account.name}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="add-account">
            <div class="input-group">
              <select ng-model="movedAccount" ng-options="account.name + ' (' + formatAmount(account) + ')' for account in widget.remainingAccounts track by account.uid" class="form-control" ng-show="widget.hasDeleteAbility" ng-change="addAccount(movedAccount)" ng-disabled="widget.selectedAccounts.length >= 15 || widget.remainingAccounts.length == 0 || isComparisonMode()">
                <option value="" disabled selected>+ ADD ACCOUNT</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" widget-engine="::widget.category" />
  </div>

</div>
