<div widget-hr-leaves-schedule>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 tranlate>impac.widget.hr_leaves_schedule.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" tranlate>impac.widget.hr_leaves_schedule.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" tranlate>impac.widget.hr_leaves_schedule.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div>

      <div widget-component-calendar ng-model="eventSources"></div>

    </div>

    <div ng-show="widget.demoData" common-data-not-found />
  </div>

</div>
