<div widget-sales-average-purchase-size>
  <!-- Settings Panel -->
  <div ng-show="widget.isEditMode" class="edit">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <!-- Buttons displayed on the lower  -->
    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>


  <!-- Content Panel -->
  <div ng-hide="widget.isEditMode">
    <!-- Data found -->
    <!-- Content Panel -->

    <div ng-show="isChartDisplayed" class="">
      <!-- Chart -->
      <div id="{{chartId()}}" class="average-purchase-size-chart">
        <div class="display-metrics"> Test </div>
      </div>
    </div>

    <!-- <div ng-show="isLoading" class="loader" align="center">
      <div>
        <i class="fa fa-spinner fa-pulse fa-3x"></i>
        <p translate="impac.widget.loader"></p>
      </div>

    </div> -->

    <div ng-show="!isChartDisplayed" class="">
      <button ng-if="!isChartDisplayed" ng-click="onButtonBack()"> < Back</button>
      <!-- Chart -->
      <div class="average-purchase-size-insight">
        <h1> Partner report: </h1>

        <h3> The purchase size grew by <strong> 0.98% </strong> compared to last month. (Not real data) </h3>
        <h4> In your Industry, in <strong> April </strong> your customer spend an average <strong> + 20.5% </strong> </h4>

        <h2> The report found top store strategies on the horizon include: </h2>
        <p> ---------------------------------------------------------------- </p>
        <p> <strong> 40% </strong> OFFER SPACE FOR IN-STORE DEMOS AND EVENTS <p>
        <p> <strong> 39% </strong> INCREASE STAFFING <p>
        <p> <strong> 35% </strong> OFFER CLICK-AND-COLLECT SERVICES <p>
        <p> <strong> 35% </strong> INTRODUCE AUGMENTED REALITY AND/OR VIRTUAL REALITY TECHNOLOGY <p>

        <p>
      </div>

    </div>

    <!-- No data found -->
    <div ng-if="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" endpoint="::widget.category" width="::widget.width" />
  </div>
</div>
