<h5>Chart filters</h5>
<div class="row chart-filters">
  <div class="col-md-6">
    <input type="radio" ng-model="filterCriteria" value="number">
    <label for="number" ng-click="filterCriteria = 'number'">Top {{filterValueNumber}} {{entityType}}</label>
  </div>
  <div class="col-md-6">
    <input type="range" ng-model="filterValueNumber" ng-change="filterCriteria = 'number'" min="3" max="{{maxEntities}}" step="1">
  </div>
</div>
<div class="row chart-filters">
  <div class="col-md-6">
    <input type="radio" ng-model="filterCriteria" value="percentage">
    <label for="percentage" ng-click="filterCriteria = 'percentage'">Top {{filterValuePercentage}}% {{filterLabel}}</label>
  </div>
  <div class="col-md-6">
    <input type="range" ng-model="filterValuePercentage" ng-change="filterCriteria = 'percentage'" min="20" max="100" step="5">
  </div>
</div>