<h5>Time range</h5>
<div class="time-range">
	<div class="row">
	  <div class="col-md-12">
	    Show last {{numberOfPeriods}} {{periodToUnit()}}
	  </div>
	</div>
	<div class="row input-group" align="center" style="margin: 0; margin-top: 3px;">
	  <div class="col-xs-6" style="padding: 0; padding-right: 5px;">
	    <select ng-model="selectedPeriod" ng-options="period.toLowerCase() for period in PERIODS track by period" class='form-control' style="height: 22px; margin-top: 0; padding: 0; padding-left: 1px; padding-bottom: 1px;"></select>
	  </div>
	  <div class="col-xs-6" style="padding: 0;">
	    <input type="range" ng-model="numberOfPeriods" min="1" max="12" step="1">
	  </div>
	</div>
</div>