<div widget-sales-growth>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />
    <div setting-time-period parent-widget="widget" class="part" deferred="::timePeriodDeferred" hist-params="widget.metadata.hist_parameters" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)">

      <div class="selector">
        <div setting-param-selector parent-widget="widget" param="product" options="productOptions" selected="product" no-reload on-select="widget.format()" deferred="::paramSelectorDeferred1"/>
        <div ng-show="product.value != -1" setting-param-selector parent-widget="widget" param="filter" options="filterOptions" selected="filter" deferred="::paramSelectorDeferred2"/>
      </div>

      <div class="chart-container" ng-class="{'invisible': product.value==-1}">
        <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
      </div>

      <div ng-show="product.value != -1" class="legend text-center">{{getSelectedProduct().name}}</div>
      <div class="price text-center" ng-hide="isDataQuantity || product.value == -1" tooltip="total for last period">{{getCurrentValue() | mnoCurrency : getSelectedProduct().currency}}</div>
      <div class="price text-center" ng-show="isDataQuantity && product.value != -1" tooltip="total for last period">{{getCurrentValue()}}</div>

    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found widget-engine="::widget.category" />
  </div>

</div>
