<div class="settings average-profit">
  <h5 translate>impac.widget.settings.average_profit.title</h5>

  <div class="widget-lines-container">
    <div class="widget-line">
      <span translate >
        impac.widget.settings.average_profit.include_option
      </span>
      <i ng-class="isToggleAverageProfit() ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"
        ng-click="toggleAverageProfit()" />
    </div>
    <div class="widget-line period-line" ng-show="isToggleAverageProfit()" >
      <span translate >
        impac.widget.settings.average_profit.granularity
      </span>
      <select ng-model="selectedAverageProfit.period">
        <option ng-repeat="option in granularityOptions" ng-value="option.value">{{option.name}}</option>
      </select>
    </div>
    <div class="widget-line calculation-line"  ng-show="isToggleAverageProfit()" >
      <span translate >
        impac.widget.settings.average_profit.period_for_calculation
      </span>
      <div class="dp-group">
        <div>
          <label class="dp-label">
          from:
          </label>
          <input type="text"
          class="btn btn-xs btn-default dp-input"
          datepicker-options="calculation.from.datePicker.options"
          uib-datepicker-popup="dd MMM yyyy"
          ng-model="selectedAverageProfit.calculation.from"
          ng-click="calculation.from.datePicker.toggle()"
          is-open="calculation.from.datePicker.opened"
          close-text="Close"
          on-open-focus="false"/>
        </div>
        <div>
          <label class="dp-label">
            to:
          </label>
          <input type="text"
          class="btn btn-xs btn-default dp-input"
          datepicker-options="calculation.to.datePicker.options"
          uib-datepicker-popup="dd MMM yyyy"
          ng-model="calculation.to.datePicker.date"
          ng-click="calculation.to.datePicker.toggle()"
          is-open="calculation.to.datePicker.opened"
          close-text="Close"
          on-open-focus="false" />
        </div>
      </div>
    </div>
    <div class="widget-line" ng-show="isToggleAverageProfit()" >
      <span translate >
        impac.widget.settings.average_profit.period_for_application
      </span>
      <div class="dp-group">
        <div>
          <label class="dp-label">
          from:
          </label>
          <input type="text"
          class="btn btn-xs btn-default dp-input"
          datepicker-options="application.from.datePicker.options"
          uib-datepicker-popup="dd MMM yyyy"
          ng-model="selectedAverageProfit.application.from"
          ng-click="application.from.datePicker.toggle()"
          is-open="application.from.datePicker.opened"
          close-text="Close"
          on-open-focus="false"/>
        </div>
        <div>
          <label class="dp-label">
            to:
          </label>
          <input type="text"
          class="btn btn-xs btn-default dp-input"
          datepicker-options="application.to.datePicker.options"
          uib-datepicker-popup="dd MMM yyyy"
          ng-model="application.to.datePicker.date"
          ng-click="application.to.datePicker.toggle()"
          is-open="application.to.datePicker.opened"
          close-text="Close"
          on-open-focus="false" />
        </div>
      </div>
    </div>
  </div>
</div>
