<div widget-accounts-custom-calculation class="accounts-custom-calculation">

  <div setting-organizations parent-widget="widget" ng-hide="true" />
  <div setting-accounts-list parent-widget="widget" />
  <div setting-formula parent-widget="widget" />

  <h3 ng-show="widget.hasEditAbility && !widget.isFormulaCorrect">
    <a href="" ng-click="formulaModal.open()">Create a custom calculation</a>
  </h3>

  <div class="price" ng-show="widget.isFormulaCorrect">
    {{widget.evaluatedFormula}}
  </div>
  <!-- Should be put in a tooltip/popover instead -->
<!--     <div class="legend" ng-show="widget.isFormulaCorrect">
    {{widget.legend}}
  </div> -->

</div>