<div widget-sales-forecast>

  <div class="edit" ng-show="widget.isEditMode">
    <h4>Widget settings</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div align="right">
      <button class="btn btn-default" ng-click="initSettings()">Cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()">Save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div ng-show="(isDataFound==true)" >

      <div class="chart-container">
        <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
      </div>

      <div class="widget-lines-container" style="max-height: 340px;">
        <div class="row widget-line header">
          <div class="col-sm-12">Projection on the next 6 months</div>
        </div>
        <div class="row widget-line total" ng-repeat="date in widget.content.dates.slice(6) track by $index" ng-init="collapsed = true" >
          <div class="row widget-line" ng-class="{main: widget.content.opportunities.slice(6)[$index].length > 0}" ng-click="collapsed = !collapsed" >
            <div class="col-sm-6">{{date | date : 'MMMM yyyy'}}</div>
            <div class="col-sm-6 text-right"><strong>{{widget.content.totals.slice(6)[$index] | mnoCurrency : widget.content.currency}}</strong></div>
          </div>
          <div collapse="collapsed">
            <div class="row widget-line" ng-repeat="opp in widget.content.opportunities.slice(6)[$index]" >
              <div class="col-sm-6">{{opp.name}}</div>
              <div class="col-sm-6 text-right">{{getOpportunityAmount(opp) | mnoCurrency : getOpportunityCurrency(opp)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="(isDataFound==false)" common-data-not-found on-display-alerts="onDisplayAlerts()" widget-engine="::widget.category" />
  </div>

</div>