<div widget-sales-list>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.sales_list.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.sales_list.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.sales_list.save</button>
    </div>
  </div>

  <div ng-hide="widget.isEditMode">

    <div class="widget-lines-container no-scroll">
      <div class="row widget-line header">
        <div class="col-xs-12 text-center">
          <span setting-dates-picker parent-widget="widget" from="widget.metadata.hist_parameters.from" to="widget.metadata.hist_parameters.to" keep-today="widget.metadata.hist_parameters.keep_today" deferred="::datesPickerDeferred" template="::datesPickerTemplate"/>
        </div>
      </div>
      <div class="row widget-line header">
        <div class="col-xs-4 text-left sortable-title" ng-click="sort('account')">
          {{'impac.widget.sales_list.products' | translate}}
          <i ng-show="sortedColumn == 'account'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
        </div>
        <div class="col-xs-4 text-center">
          <span setting-param-selector parent-widget="widget" param="filter" options="filterOptions" selected="filter" deferred="::paramSelectorDeferred" />
        </div>
        <div class="col-xs-4 text-right sortable-title" ng-click="sort('total')">
          {{'impac.widget.sales_list.total' | translate}}
          <i ng-show="sortedColumn == 'total'" class="fa" ng-class="ascending ? 'fa-sort-alpha-asc' : 'fa-sort-alpha-desc'" />
        </div>
      </div>
    </div>

    <div class="widget-lines-container" ng-show="(isDataFound==true)">

      <div class="row lines-group" ng-repeat="company in widget.content.summary" >
        <div class="col-xs-12">

          <div class="row widget-line" >
            <div class="col-xs-1" ng-click="toggleCollapsed(company.name)" style="cursor: pointer;">
              <i class="fa" ng-class="isCollapsed(company.name) ? 'fa-plus-square-o' : 'fa-minus-square-o'" />
            </div>
            <div class="col-xs-7">
              <strong>{{company.name | titleize}}</strong>
            </div>
            <div class="col-xs-4 text-right" ng-show="{{filter.value.match('quantity')}}">
              <strong>{{company.total}}</strong>
            </div>
            <div class="col-xs-4 text-right" ng-hide="{{filter.value.match('quantity')}}">
              <strong>{{company.total | mnoCurrency : company.currency}}</strong>
            </div>
          </div>

        <div class="row" uib-collapse="isCollapsed(company.name)">
          <div class="col-xs-12">
            <div class="row widget-line" ng-repeat="product in company.products" >
              <div class="col-xs-7 col-xs-offset-1">
                {{product.name | titleize}}
              </div>
              <div class="col-xs-4 text-right" ng-show="{{filter.value.match('quantity')}}">
                <strong>{{product.total}}</strong>
              </div>
              <div class="col-xs-4 text-right" ng-hide="{{filter.value.match('quantity')}}">
                <span common-currency-conversions fx-amounts="product.formattedFxTotals" base-currency="widget.metadata.currency" rates-date="ratesDate" />
                <strong>{{product.total | mnoCurrency : product.currency}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="data-not-found" ng-show="(isDataFound==false)">
    <div class="message" translate="impac.widget.sales_list.no_data_found"></div>
  </div>
</div>
