<div widget-sales-new-vs-existing-customers>

  <div class="edit" ng-show="widget.isEditMode">
    <h4 translate>impac.widget.sales_new_vs_existing.settings.title</h4>

    <div setting-organizations parent-widget="widget" class="part" deferred="::orgDeferred" />

    <div class="bottom-buttons" align="right">
      <button class="btn btn-default" ng-click="initSettings()" translate>impac.widget.sales_new_vs_existing.cancel</button>
      <button class="btn btn-warning" ng-click="updateSettings()" translate>impac.widget.sales_new_vs_existing.save</button>
    </div>
  </div>

  <div align="center" ng-hide="widget.isEditMode">

    <div class="selector">
      <div class="selector-wrap">
        <span setting-param-selector parent-widget="widget" param="display_type" options="displayOptions" selected="displayType" on-select="displayTypeOnClick()" no-reload="true" deferred="::displayTypeParamSelectorDeferred" />
      </div>
      <div class="selector-wrap">
        <span setting-param-selector parent-widget="widget" param="time_range" options="timeRangeOptions" selected="timeRange" deferred="::timeRangeParamSelectorDeferred" />
      </div>
    </div>

    <div class="chart-container">
      <div impac-chart draw-trigger="::drawTrigger.promise" deferred="::chartDeferred"></div>
    </div>

    <div class="legend">
      <div class="row positive2">
        <div class="col-xs-7 text-left" translate>impac.widget.sales_new_vs_existing.new_customers</div>
        <div class="col-xs-5 text-right">{{getValue('new')}}</div>
      </div>
      <div class="row negative2">
        <div class="col-xs-7 text-left" translate>impac.widget.sales_new_vs_existing.existing_customers</div>
        <div class="col-xs-5 text-right">{{getValue('existing')}}</div>
      </div>
      <div class="row total">
        <div class="col-xs-7 text-left" translate>impac.widget.sales_new_vs_existing.total</div>
        <div class="col-xs-5 text-right">{{getValue('total')}}</div>
      </div>
    </div>

    <div ng-show="widget.demoData" common-data-not-found />
  </div>

</div>
