.center-bold (@margin-top: 30px) {
  .font(22px,900,#5b6667);
  text-align: center;
  margin-top: @margin-top;
}

.center-thin () {
  .font(16px,300,@darkblue);
  text-align: center;
}

.center-small () {
  .font(12px,300,@mediumblue);
  text-align: center;
}

.left-thin (@margin-top: 0px) {
  .font(14px,300,@mdarkbg);
  text-align: left;
  margin-top: @margin-top;
}

.widget-height (@height: 250px) {
  min-height: @height;
  @media (min-width: @screen-md-min) {
    height: @height;
  }
}

.short-widget () {
  .widget-height();
  .edit {
    max-height: 230px;
  }
}

.tall-widget () {
  .widget-height(565px);
  .edit {
    max-height: 540px;
    .widget-lines-container {
      .scrollable(hidden);
    }
  }
}

.scrollable (@scroll-mode: auto) {
  overflow-y: @scroll-mode;
  overflow-x: hidden;
}

.selectable () {
  cursor: pointer;
  :hover {
    color: @purple;
  }
  .selected {
    border: solid 1px @purple;
    background-color: lighten(@purple, 22%)
  }
}

.alternate-bg (@even-color: @lightgray) {
  &:nth-child(even) {
    background-color: @even-color;
  }
  &:nth-child(odd) {
    background-color: white;
  }
}

.edit-panel-style() {
  .scrollable();
  color: @mdarkbg;
  padding: 2px;
  font-size: 12px;

  .btn {
    border-radius: 2px;
    margin-right: 5px;
    padding: 3px 13px;
    text-transform: uppercase;
    font-size: 12px;

    &.btn-default {
      background-color: #c2c4c4;
      border: solid 1px darken(#c2c4c4,10%);
      color: white;
      &:hover {
        border: solid 1px darken(#c2c4c4,20%);
        background-color: darken(#c2c4c4,10%);
      }
    }
  }

  h4 {
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
    .font(12px,normal,#acb0b1);
  }

  .part {
    margin-bottom: 8px;
    padding: 10px 0px;
    background-color: #f3f4f4;
    color: #626d6d;
    border: solid 1px #f3f4f4;

    h5 {
      margin: 0;
      margin-bottom: 10px;
      padding: 0px 15px;
      text-transform: uppercase;
      font-size: 12px;
    }

    label {
      font-weight: normal;
    }

    select.form-control {
      margin: 0px;
      border: solid 1px #acb0b1;
      outline: none;
      -webkit-box-shadow: none;
      font-size: 13px;
      color: #72728b;
    }
  }
}

.loader-style() {
  color: @mblue;
  font-weight: bold;
  .gif {
    display: block;
    margin-top: 10px;
  }
}